[2018-12-03 17:19] jaredcnance commented on #450
@Poltuu thanks for sharing! I'll work on a minimal test for the query execution itself. We do use `Expression.Constant` when building our queries.

[2018-12-04 03:16] jaredcnance commented on #381
@RKennedy9064 since nested filters and sorting is available in 3.0.0, can this be closed?

[2018-12-04 03:47] jaredcnance commented on #381
Awesome! Actually the credit for that goes to @milosloub!

[2018-12-04 03:47] #381 closed

[2018-12-04 11:43] milosloub commented on #406
I can make solution to globally allow something like this:
`resources?filter[id]=1`

And relationship id filter like following:
`1) resources?filter[relationship]=1`

OR some automatic expose {Relationship}Id as [Attr]:
`2) resources?filter[relationshipId]=1`

OR:
`3) resources?filter[relationship.id]=1`

From the json:api docs https://jsonapi.org/recommendations/#filtering it should be option 1)

[2018-12-04 21:23] XaserAcheron opened #453 "HasManyThrough relationships always return empty data:[] array on GET"
## Description

Seems when trying to GET a record that contains a HasManyThrough relationship, it returns an empty `data: []` array even though I'm not specifying `?include`. Meanwhile, HasMany relationships seem to work just fine.

Here's a somewhat-anonymized sample response (comments added) which hopefully illustrates the issue:
[code]

To clarify, the article has authors, and they're returned

[2018-12-05 00:15] jaredcnance commented on #453
Yeah the only time I've seen this issue is when the list is initialized somewhere. Can you post your model? One thing you might try is adding a log entry (or setting a breakpoint) to the setter:

(roughly)

[code]

[2018-12-05 15:22] XaserAcheron commented on #453
Thanks for the response! I gave the logging a shot, and it doesn't seem that `set` gets called for either Tags or ArticleTags (nothing logged, no breakpoints hit).  I put some breakpoints on the `get`s as well, and the `get` for ArticleTags does get called -- the value is `null`, as it should be.

It'll take me just a bit to post up the models. The example is anonymized so I gotta shuffle the name

[2018-12-05 16:17] jaredcnance commented on #453
Okay no worries. It’s probably not your model then and it’s likely an issue at the serialization later of the framework. I’ll try to work on it this week.

[2018-12-06 00:10] milosloub commented on #406
@jaredcnance this implementation looks quite easy. I did small test with relationships in repository layer:
[code]
and this is translated to sql as `WHERE RelationshipId = 1`, so no include is required.
This allow to resolve [HasOne] use case.

What about [HasMany]? Should be allowed something like:
`[GET] api/resource?filter[items.id]=1`
Or should it be requested to api/items itself?

Current imp

[2018-12-06 03:18] ddaspit opened #454 "Null valued attributes are not omitted from included data"
## Description
If `DocumentBuilderOptions.OmitNullValuedAttributes` is set to `true` and an included resource object has a null valued attribute, it will not be omitted. Any null valued attributes in primary resource objects are correctly omitted. It looks like `DocumentBuilder.GetIncludedEntity()` does not check `OmitNullValuedAttribute()` method when adding attributes.

## Environment

- JsonApi

[2018-12-06 03:36] ddaspit opened #455 "Custom service registration during auto-discovery"
## Description
I am using AutoFac for dependency injection. I would like to be able to write my own logic for registering resource services with the DI container while also taking advantage of the new ability in 3.0 to auto-discover services. I tried to implement my own `AddServices()` method following the example in `ServiceDiscoveryFacade`, but I wasn't able to use `TypeLocator`, since it is int

[2018-12-06 06:38] jaredcnance commented on #406
Okay, that's great! I didn't realize EF was smart enough to do that 😝. I'll need to think more about the `HasMany` case, but for now I think the `HasOne`  solution should be sufficient and we can iterate if there is demand.

Initially, I think a query that filters on `HasMany` (e.g. `/authors?filter[articles.id]=1`) should actually just be restructured (e.g. `/articles/1?include=author`) since the

[2018-12-06 07:12] ddaspit commented on #455
My resource services have an extra interface that needs to be registered and they require property injection. I register my resource services with AutoFac like this:
[code]
This registers all of the interfaces that my resource services implement, including my interface, and enables property injection. I don't think there is any way to do this using the current `ServiceDiscoveryFacade`. I understan

[2018-12-06 15:45] XaserAcheron commented on #453
Bit of a stab in the dark, but do you think [this function](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/6b9d14cdd1ce6ce47f72db205c948b74cecde9ab/src/JsonApiDotNetCore/Internal/ResourceGraph.cs#L142) could be the culprit? It seems like it's going to ship back an empty `IEnumerable<IIdentifiable>` if `throughProperty` is null, which sounds a lot like the symptoms here -- though as a di

[2018-12-06 17:49] XaserAcheron commented on #453
Yup, that was it. Just made a PR. :D

[2018-12-06 19:40] milosloub commented on #406
I was also surprised 😄 I'll prepare PR in few days with some tests

[2018-12-10 04:14] #453 closed

[2018-12-11 07:04] #406 closed

[2018-12-11 10:40] ddaspit commented on #455
Sounds reasonable. I will let you know if I find any deficiencies in `TypeLocator`, but it currently fulfills my needs. Thank you for the great library.

[2018-12-12 19:39] XaserAcheron opened #459 "PATCH request with HasManyThrough relationship doesn't perform full replacement"
## Description

I'm running into a case where PATCHing a record with a HasManyThrough relationship is failing to do a complete replacement, as per spec. Consider the classic example:

[code]

For whatever reason, it's not deleting the existing ArticleTag records before trying to insert new ones, e.g. If I already have tag#2 assigned to article#1, it tries to re-insert the record, leading to a prim

[2018-12-12 23:09] XaserAcheron commented on #459
Reproduced & committed a failing test on [this branch](https://github.com/XaserAcheron/JsonApiDotNetCore/tree/m2m-existing).

The gist: the existing m2m PATCH test creates an Article and a Tag in the database before running, but doesn't create any ArticleTags, so the PATCH is dealing with a blank slate. I created a second test (linked above) where the database has an existing ArticleTag, and sure

[2018-12-13 22:44] Dillie-O opened #460 "AmbiguousActionException with 2.1.500 in RequestMiddleware"
## Description

I recently scaffold up a fresh .Net Core 2.1.500 WebAPI project and then followed the basic installation directions on the site. I'm using the default "ValuesController" that comes with the project. After going through the required steps, I'm seeing the following error when I attempt to call my `Values` GetAll endpoint (as well as similar ones for `Values/5`) I get the following er

[2018-12-13 22:51] jaredcnance commented on #460
Can you post the source for `ValuesController` ?

[2018-12-13 23:42] Dillie-O commented on #460
Note: My `ValueCheck` is a pretty simple "dummy" object to get the basics working.

[code]

[2018-12-14 00:16] jaredcnance commented on #460
So, I'm not sure what you're trying to do. If you want this to be a JSON:API controller, try removing all of the methods (`JsonApiController` defines the default ones for you). You can also override any of the base methods if you need to add/change some behavior. You can also inherit from `BaseJsonApiController` instead.

Take a look at these two classes:

- [JsonApiController](https://github.com/

[2018-12-14 16:19] Dillie-O commented on #460
Greetings @jaredcnance

My goal is to "JSON APIify" my new WebAPI so that all of my controller endpoints return their data "wrapped" in the JSON API standards, as well as include pagination details (other items I found elsewhere in the documentation) to better standardize my new project.

According to the step by step guide, the "Person" object (in my case ValueCheck) inherited from the "Identifia

[2018-12-18 15:45] #454 closed

[2019-01-07 03:04] Kylinking opened #462 "problems in "Implicit Access By Service Injection""
## Description
When I followed by the example in the doc to make some METHODs return status(405).  AmbiguousActionException was thrown out when I  made user controller class derived from BaseJsonApiController. But it was right when the user controller class derived from JsonApiController.
...
[code]

[2019-01-07 04:02] jaredcnance commented on #462
The routes are defined in `JsonApiController`, so if you choose to inherit from `BaseJsonApiController`, you'll need to define the routes yourself. Can you post your controller?

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/2a8a02f69e00725148103702594f304669cd67e1/src/JsonApiDotNetCore/Controllers/JsonApiController.cs#L67-L68

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/

[2019-01-07 04:50] Kylinking commented on #462
[code]
When the ShopsController inherit from JsonApiController , the Service Injection works well. In the code I user IGetAllService.  I'll get  status 405 if I make a POST request.
But if I change  to inherit from BaseJsonApiController. I'll get AmbiguousActionException even I make a GET request.  When I defined  my own actions like the comments, the GET request works. But POST request makes Ambi

[2019-01-07 05:19] jaredcnance commented on #462
I'll have to reproduce this. In general, you should just inherit from `JsonApiController` unless you need to modify the routing attributes.

[2019-01-22 17:02] FabianHoffmann commented on #248
Wouldn't it make sense to add `"data": null` to indicate, that there is no `profile`? That's also how I read the spec: https://jsonapi.org/format/#document-resource-object-linkage
Just adding a `self link` gives no information about if there is a `profile` or not.

Is there an easy way to add `"data": null`?

[2019-01-22 20:19] wayne-o commented on #259
What's the situation with this? Has anyone tried more recently?

[2019-01-23 10:51] MichaelHancock opened #463 "Pagination does not work on related lists"
## Description

I have a JSON API endpoint which returns an entity that has a related list property. I have this configured so that when I visit `/api/entity` it returns the top level entity without the associated values in the list. To get the related list of items the URL would be `/api/entity/{entity-id}/items`.

During startup I have configured the JsonApiDotNetCore library to have a default p

[2019-01-24 14:33] NullVoxPopuli opened #465 "Are there plans to implement signalR hub / websockets for `{ json:api }` operations?"
With operations over sockets (or a SignalR Hub), it'd be possible to :
 - subscribe to certain URLs
    - with include, fields, etc, this would be the most similar to GraphQL's "Queries"
 - to asynchronously receive new data whenever the server decides you need it.
    - better two-way communication
    - have quicker reassurance with optimistic UIs, or quicker feedback if something goes wrong

[2019-01-24 22:02] czemanek-arm commented on #363
I would like to add some extra information to this issue. I had the exact same problem and unfortunately did not see this issue in my search, but after solving it I figured I would leave my experience.

I started by removing the `return (string.Value == "0" ? "" : string.Value)`

This started out fine, but created an issue: whenever I submitted a POST request it failed because 0 was being submitte

[2019-01-28 23:37] czemanek-arm opened #467 "PATCH request with Nullable ID does not work."
## Description

Whenever a model inherits from `Identifiable<T>` and T is nullable (i.e. `long?`) PATCH requests are not able to be found.

This is related to my comment on #363 in that, after implimenting my work around there, I discovered that nullable ID's are unable to pick up PATCH requests in EF. POST and GET still work fine.

...

## Environment

- JsonApiDotNetCore Version: 3.0.1-alpha3
-

[2019-01-30 03:57] ludydoo opened #468 "Links do not include the "include=..." query parameter"
Awesome library.

## Description

When GETtting a collection of resources, the generated Paging RootLinks (next, prev, ...) do not include the &include=... query parameter that was initially passed.

GET http://localhost:21021/telephones?page[size]=5&page[number]=4&include=locators

Result :

next: "http://localhost:21021/telephones?page[size]=5&page[number]=5",
prev: "http://localhost:21021/telep

[2019-01-30 12:21] wisepotato opened #469 "useage of FilterQuery and obsolete"
## Description

When internally using `FilterQuery`, I get the message that `FilterQuery.Key` is obsolete. Key has been replaced by 'Attribute`  Members should be located by their public name, not by coercing the provided value to the internal name.

What exactly is the takeaway here?You shouldnt use FilterQuery? Or it should transition to using Attribute?

[2019-01-30 16:41] jaredcnance commented on #469
No, `FilterQuery` is not obsolete. Only the property `FilterQuery.Key` which has been replaced by `FilterQuery.Attribute`.

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/f72e8ae2247b39fbf1bf5af446b27e9420cf01f4/src/JsonApiDotNetCore/Internal/Query/FilterQuery.cs#L28-L29
is replaced by:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/f72e8ae2247b39fbf1bf5af446b27e9420cf01f4/sr

[2019-01-30 16:42] #469 closed

[2019-01-30 16:45] jaredcnance commented on #468
Thanks for opening this. I've added this to #276 to track as a single ticket.

[2019-01-30 16:45] #468 closed

[2019-01-30 16:55] jaredcnance commented on #463
Thanks for opening this. I don't have time to address this right now, but in case someone else wants to start working on it, I believe the missing piece here is that this:

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/f72e8ae2247b39fbf1bf5af446b27e9420cf01f4/src/JsonApiDotNetCore/Services/EntityResourceService.cs#L112

Needs to be done inside here:

https://github.com/json-api-dotnet/

[2019-02-01 11:36] shaunparsloe commented on #385
@jaredcnance I have tried to do this but the jsonApiContext.QuerySet is null in the constructor.

I don't know if it's related to a refactor in the code as I have also noticed that _jsonApiContext.ContextGraph is obsolete and has changed to _jsonApiContext.ResourceGraph

[2019-02-01 20:44] wisepotato commented on #469
why is the expected external name `compond-name` anyway? isnt the normal expectation within jsonapi to be `compoundName`?

[2019-02-01 20:44] wisepotato commented on #469
thanks for your explanation btw

[2019-02-01 21:41] jaredcnance commented on #469
@wisepotato camelCase did not become the recommended convention until a [few months ago](https://github.com/json-api/json-api/pull/1297) and kebab-case was the previously recommendation. But it really doesn't matter since you can use whichever convention you prefer.

[2019-02-01 21:50] jaredcnance commented on #385
It will be `null` if there are no queries present:

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/f72e8ae2247b39fbf1bf5af446b27e9420cf01f4/src/JsonApiDotNetCore/Services/JsonApiContext.cs#L71-L75

So, you can try:

[code]

[2019-02-02 16:51] #356 closed

[2019-02-05 00:00] RKennedy9064 commented on #248
@jaredcnance I'm also experiencing this issue, so I figured I would add to the open issue. I'm also using Ember Data and have relationships that can sometimes be null. When one of my relationships is null, the returned data looks like this:

[code]

Since I'm displaying information in a paginated table, whenever the relationship is null and only the links are included, Ember will make a get reques

[2019-02-06 16:32] mdsharpe opened #471 "Omit empty data array in relationships"
## Description
I have a requirement to build a JSON API compliant endpoint which returns an entity without its related data. The user would then request the relationship data separately. For example:

Entity Request: `v1/myentity/{entity-id}`.

Entity Relationship Request: `v1/myentity/{entity-id}/items`.

My endpoint currently returns this when an entity request is made:

[code]

As you can see t

[2019-02-06 17:54] milosloub opened #472 "PATCH with ValidateModelState enabled and [Required] attribute"
If I provide ValidateModelState =true, then every PATCH failed on validation
on properties with [Required] attribute.
For example I have three properties with [Required], but sending patch to one of them only. Then
two of them failed on validation.

I found that AspNetCore uses JsonPatchDocument for this use case, but maybe I missed something.
Do you know how to deal with it?

- JsonApiDotNetCore

[2019-02-08 11:41] wisepotato opened #473 "Principal based authorization of relationships"
## DescriptionMaybe

I wish to have the ability to have attribute/relationships hiding based on authorization (policy, other class, function etc).

Is there anything possible at the moment? I think a general function that can be registered that checks if a user/entity is able to access an attribute would help greatly in the versatility of JsonApiDotNetCore on a more enterprise level.

Any thoughts

[2019-02-08 14:24] medokin opened #474 "Filter included relations"
## Description
Let's assume I have two entities.

A `Person` that has many `Transaction`. I've implemented a `TransactionService` to hide some transactions from the user.

Works great when querying `Transaction`, but when I query a `Person` with `include=transactions`, it includes the hidden transactions.

Am I missing something, or do I need to reimplement the filter in every relation of `Transac

[2019-02-08 16:59] jaredcnance commented on #474
@medokin there are two issues here. The first is due to a design flaw in JADNC that we still need to resolve. Currently, when you include resources, this is done from the target resource service.

- `/persons` → `PersonService`
- `/persons?include=transactions` → `PersonService`
- `/transactions?include=person` → `TransactionService`

Any logic you've defined in the `TransactionService` won't be i

[2019-02-08 17:05] jaredcnance commented on #473
This should be doable by implementing a `ResourceDefinition`: https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/master/docs/usage/resources/resource-definitions.md

One example might look like:

[code]

[2019-02-09 13:31] medokin commented on #474
@jaredcnance Thanks for the thorough explanation. I agree that the lack from EF for include filters can result in scaling issues.

As a workaround, my solution now prevents the inclusion of transactions from related entities like this.

[code]

[2019-02-10 20:25] medokin commented on #405
This bug was resolved with https://github.com/json-api-dotnet/JsonApiDotNetCore/pull/457

[2019-02-11 15:26] jaredcnance commented on #405
Thanks @medokin! Closing this. Please re-open if the issue is not resolved.

[2019-02-11 15:26] #405 closed

[2019-02-11 15:33] jaredcnance commented on #472
@milosloub I don't have a solution for this off the top of my head. But, to be clear, the desired behavior is that for `[Required]` properties should only be validated for the attributes being PATCHed, ensuring their new values are not `null` or empty? It might be worth looking into migrating to a version of `JsonPatchDocument<T>` if that's what they use. It's API is a bit nicer than shoving the v

[2019-02-11 15:36] jaredcnance commented on #467
Can you share your controller?

[2019-02-11 15:39] jaredcnance commented on #471
It actually should omit the relationship be default unless it's being initialized somewhere. [This is one reason](https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/318#issuecomment-403021162) it can happen.

[2019-02-11 15:47] czemanek-arm commented on #467
[code]

[2019-02-11 16:41] jaredcnance commented on #467
Thanks. Do you know if the controller is being invoked at all on PATCH? i.e. are you getting 404 for route not found or because the resource can not be found?

[2019-02-11 16:42] czemanek-arm commented on #467
I am getting a 404, no breakpoints in the PATCH function were reached.

[2019-02-11 16:47] milosloub commented on #472
@jaredcnance yes, that's exactly that case - validating only PATCHed attributes. After few tries I discovered that JsonPatchDocument also doesn't solve this issue. Maybe I missed something general with [Required] and there must be some custom validation. So now I don't know, I'm back at the beginning

Ach sooo, this is the case for default interface methods (I was trying to find real world usage 😄

[2019-02-11 16:57] jaredcnance commented on #472
It [looks like it should work](https://benfoster.io/blog/aspnet-core-json-patch-partial-api-updates) but I’ll have to dig in more. It may be better to have a custom validation implementation instead of parsing into [JsonPatchDocument](https://github.com/aspnet/AspNetCore/blob/6cc9f6f130af4ed0e7f321b144265cfbcec0ceee/src/Features/JsonPatch/src/JsonPatchDocument.cs) which seems to be unnecessarily c

[2019-02-11 17:04] milosloub commented on #472
Yeah, it looks like it should work. I test the folowing
**Controller**
[code]
**Model**
[code]
and request with Content-Type: application/json-patch+json
![image](https://user-images.githubusercontent.com/25246419/52579815-4b185980-2e27-11e9-90f0-964353505596.png)

Still no luck.
But yes, I agree that custom validation approach would be better for JADNC

[2019-02-11 17:17] jaredcnance commented on #467
This sounds like an issue with the routing configuration and outside the influence of JADNC. You might try changing your route template to `"{id?}"`. But, I'm curious what your reasoning is for choosing a nullable identifier?

[2019-02-11 17:25] czemanek-arm commented on #467
I'll look into that, but here's how I got there:

- ID column is a big int that is an identity
- PATCH doesn't work as some tables have rows of ID = 0 which gets turned into the empty string by JADNC
- Modify Identifiable so GetStringId doesn't erase 0
- Now whenever POST occurs, there's no empty value, so it tries to post a 0
- Fails because table is identity (also 0 already exists)
- Turn ID to

[2019-02-11 17:27] jaredcnance commented on #363
You shouldn't have to make ids nullable. This sounds like an issue with your DbContext setup. I suspect EF is not aware this is an autogenerated identity column and as such is issuing requests like `INSERT INTO Books (Id, Name) VALUES (@id, @name)`

[2019-02-11 17:30] czemanek-arm commented on #363
It's possible. I did have the column set to Identity in the EF model, but the black box of EF knows no master.

[2019-02-11 17:32] milosloub commented on #472
Ah, I found my bad approach of testing this. It is required, that you have full object that proceed through POST and it's validation. In my case I only created new instance of empty model, than validation failed. If I use model with correctly filled properties, then solution above works as expected.

So instead of
`var model = new MyModel();`
I used
[code]
But still I think, that custom validation

[2019-02-11 17:33] jaredcnance commented on #363
Can you show me how you're doing this?

[2019-02-11 17:36] czemanek-arm commented on #363
As far as I know there is no "Identity" attribute, but EF is supposed to detect it from an integer key, so I'm just doing:
`[Key, Column("ID_BOOK")] public override long Id { get; set; }`

[2019-02-11 17:37] jaredcnance commented on #472
Agreed. I don't want to re-invent the wheel, so it'd be interesting to see how `JsonPatchDocument` is handled. I'm not super familiar with the internals of the default model validation, but I wouldn't expect it to be too hard to figure out.

[2019-02-11 17:42] jaredcnance commented on #363
Ah I see, I would recommend [trying this](https://github.com/aspnet/EntityFrameworkCore/issues/2307#issuecomment-111634401):

[code]

[2019-02-11 19:12] czemanek-arm commented on #363
Gotcha, I'll take a look at refactoring some of this next time I get the chance, thanks for the pointers!

[2019-02-11 20:21] medokin commented on #472
I found another problem maybe related to this.
Let's take this for example:
[code]
Now if try to post a new `Person` with an already existent `Pet` Id, the validation fails with `Pet.Name - The Name field is required.`

[2019-02-13 13:58] mdsharpe commented on #471
Thanks, resolved by configuring AutoMapper to allow null collections.

[2019-02-13 13:58] #471 closed

[2019-02-17 18:57] wisepotato commented on #473
Thank you very much! I couldnt find this in the online docs, will you updating this at one point or should we build them locally?

[2019-02-18 04:44] jaredcnance commented on #473
Thanks for reminding me. The latest docs have been deployed [here](https://json-api-dotnet.github.io/JsonApiDotNetCore). I'm still working on CI and they're still a WIP so feel free to contribute if you see something missing or wrong.

[2019-02-18 04:44] #473 closed

[2019-02-18 12:21] milosloub opened #475 "Sparse fields stops working when DefaultEntityRepository.Get() overriden"
## Description
Steps to reproduce:
1) I have model like this (reduced for simplicity)
[code]

2) I have registered custom repository with Get() override:
[code]
3) I made request: GET /api/clients?fields[clients]=firstName
4) Empty array is returned and console shows:

I can see, that there is strange translation with Where condition (There is statament that belongs to Select query)
I think, that

[2019-02-18 12:25] wisepotato commented on #253
Any update on this? Running into this while testing

[2019-02-18 13:36] jaredcnance commented on #253
@wisepotato can you be more specific? Is it mocking the interface in general or is there a specific issue you’re consistently hitting in your tests?

[2019-02-18 14:27] wisepotato commented on #253
Using the ContextGraph without The controller/HttpContextAccessor is my main issue. I need to do end-to-end testing and cannot mock anything if I need to use the repositories for some business logic testing.

[2019-02-18 15:45] jaredcnance commented on #253
The `ResourceGraph` doesn't depend on the http context? Can you be a bit more specific? This is one way you can build a `ResourceGraph` within your tests:

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/3ade2a7d4f5d05fa7d593abe248450543116afbd/test/UnitTests/Builders/DocumentBuilder_Tests.cs#L295-L298

[2019-02-19 14:27] wisepotato commented on #253
I dont want to mock it, I want to actually use it. I want the database calls to be made but `ApplyContext` requires the HttpContext

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/8570b216c7ede3a7b5f9fc7a4912404a14926df5/src/JsonApiDotNetCore/Services/JsonApiContext.cs#L59-L82

or more specifically:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/8570b216c7ede3a7b5f9fc7a491240

[2019-02-19 14:34] wisepotato commented on #474
I mean doesnt this call for a more generic Access Control system? Something thats tied to the model and therefore gets implemented in every layer? This can stand on its own I guess. Just spitballin' here. Might look into this.

[2019-02-19 14:34] wisepotato commented on #474
Running the same logic /repeating yourself is of course not the proper way

[2019-02-20 08:21] wisepotato opened #477 "Extend ResourceDefinition"
## Description

To allow for greater flexibility and reliability using filters we need to change a few things:

We need to change the dependency on `Include(string path)` in

https://github.com/aspnet/EntityFrameworkCore/blob/473dafce1d2b2e2e2dfd49eb085b9c4bc220658a/src/EFCore/EntityFrameworkQueryableExtensions.cs#L2452-L2469

We then need to make sure that when we have the following cases:
[code]

[2019-02-20 16:09] wisepotato commented on #477
@jaredcnance the one problem i'm facing at the moment is that there isnt a cache for all ResourceDefinitions. For this to work, we need to either register the ResourceDefinitions in the `startup.cs` (which would be .. suboptimal) or in the constructor of `ResourceDefinition<TItem>`.

I'd say both; but I'd like to know your opinion on the matter on how to approach. I made a very basic example of wh

[2019-02-20 16:50] wisepotato commented on #477
Ok, took a detour to get the ResourceDefinition problem on track, but currently encountering the TreeBuilding, any suggestions on how to tackle? This would alleviate a lot of trouble with deeply nested problems. We could then recursively go down the tree and apply any rules that the user has laying around. ALlowing for maximum flexibility

[2019-02-21 04:59] jaredcnance commented on #477
We do not need a cache for `ResourceDefinition` they are cached by the IoC container in the request scope.

[2019-02-21 09:33] wisepotato commented on #477
How can I access them without injecting them all into the repository? I couldnt figure out how to grab all resourcedefinitions..

[2019-02-21 14:10] jaredcnance commented on #477
See my comment in the PR about `GenericProcessorFactory`.

[2019-02-22 09:08] wisepotato opened #479 "Extend sparse field selection"
From #558 :

Three issues:
* Complex Attributes /nested attributes do not respond to filtering sparse fieldsets
* Field properties (so non-properties!) do not respond to the filtering of sparse fieldsets if they are not mapped, they are included in the `_dbSet` filtering, which they shouldnt be, because... they're not mapped
* (optional) adding optional fields would be great, I have some attribute

[2019-02-22 10:05] milosloub commented on #479
@wisepotato Do you mean this https://github.com/json-api-dotnet/JsonApiDotNetCore/pull/476#issuecomment-466162290 ?

[2019-02-22 10:13] wisepotato commented on #479
oops! Didnt find it in search, but maybe should have looked at the recent issues.... thanks!

[2019-02-22 10:46] milosloub commented on #479
Yeah, the title of #476 is little bit confusing. When I was creating that issue I didn't notice, that this is common problem with sparse fields, not only  repository override case

[2019-02-22 13:04] wisepotato commented on #479
the complex attributes/nested attributes do not responde to filtering sparse fieldsets still holds true i guess though.

[2019-02-22 16:36] jaredcnance commented on #479
Can this be handled by `ResourceDefinition.OutputAttrs` ? When you say "heavy to load", do you mean that you don't want them loaded into memory in your JADNC application, or you don't want them loaded client side?

[2019-02-24 03:21] jaredcnance opened #480 "Create Reference Implementation Using Graph Database"
## Description

Investigate what it would take to switch the persistence layer from a relational database to a graph db such Neptune, Titan, Arango, etc. We should provide a reference implementation for others to use and base future work on.

[2019-02-25 10:26] wisepotato commented on #479
both to be honest, generation of a certain embed token takes very long, and doesnt need to be in the full list. Sure I can do this with a custom service, but I think we're here to look at integrating custom things into the core to keep th services and repositories light

[2019-02-27 23:41] division-by-zero commented on #342
I get the same error when posting invalid data. Posting valid data is OK.

It only happens when I set Content-Type: application/vnd.api+json.

It works if I set Content-Type: application/json and send data as single object (not as described here: https://jsonapi.org/format/#crud-creating)

[2019-02-28 17:54] division-by-zero commented on #342
I've sort of managed to solve the problem but I needed to include JsonApiDotNetCore source to my project to be able to do this.

It seem error occurring JsonApiSerializer.cs

[code]
Here `identifiableEntity` is `null` because `entity` is not an `IIdentifiable` but an `ValidationProblemDetails` object.

I disabled auto model validation by putting this code to `Startup.cs`:

[code]
Then I've changed

[2019-03-01 12:33] joshhubers opened #482 "Increase ResourceDefinition GetFilterQuery Flexibility"
I really like the new ResourceDefinition interface, and it has allowed me to really separate and clean out some of the manual filtering I was doing traditionally in my EntityRepositories. That said, I do have a hitch with the following line:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/e58a48dc25248a042bf3f3142186736faa2e908a/src/JsonApiDotNetCore/Data/DefaultEntityRepository.cs#L98

[2019-03-02 12:16] sadedil opened #483 "Overriding the controller methods"
## Description

Hello, i've a question (and i think there is a problem in here)
I've a controller named `GamesController`, and i want to override the patch method to change some properties on the fly. So i've change the controllers content similar to this.

**Controller**
[code]

**Sample request body**
[code]

Actually it's working without giving an error, but not accepting the value change.

**S

[2019-03-04 08:29] wisepotato commented on #483
This might be a quirk from the `[FromBody]` function. These kinds of additions are also not within the scope of the controller. Try and do this in the service, it is more suited for that.

[2019-03-04 08:35] sadedil commented on #483
Hi @wisepotato, without `[FromBody]`, content of the entity wasn't filled. It had default values.

By the way the example is simplified because of easily reproduce the scenario. Not about the writing clean or elegant solution. Also I think decoupling business from the controller is good thing too.

[2019-03-04 11:03] wisepotato commented on #483
I was just thinking out loud, because i couldnt find anything wrong with your scenario, have you tried debugging to see if your code is actually being hit/ your controller is registered correctly? Can you write a test to ensure something is wrong? If so, it might be JADNC,  but I doubt it..

Writing out a test probably helps.

[2019-03-04 11:10] milosloub commented on #483
@sadedil Hi, this approach won't work. If you want to change values like that, you have to do it on repository layer.
It's because of JsonApiContext (IJsonApiContext param of your Controller), that has AttributesToUpdate object, which is used in repository as a primary changes holder:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/071ce9fc11c857d40419625519cc8cd290dc1428/src/JsonApiDotN

[2019-03-04 11:35] milosloub commented on #483
Sorry for previous post, there was mistake.
For updating values there is JsonApiContext (IIJsonApiContext param of your Controller), which is holder of changed attributes from PATCH request.

You should store jsonApiContext to private variable and do this

[code]

[2019-03-04 11:54] wisepotato commented on #483
Why not do it in the repository layer?

[2019-03-04 12:11] milosloub commented on #483
It can be everywhere - Controller, Service, Repository, but problem is the same - during PATCH you have to work with IJsonApiContext, not with input model/resource param. It's about some convention, where to put changes like that. Personally I would place it into Service - it's kind of business logic I would say

[2019-03-04 16:25] sadedil commented on #483
Hi @milosloub, your suggestion worked perfectly. Thanks for information 👏

After all, working with the `object` directly seems a little strange to me. I didn't analyze all the source code, but I'm curious, is there any limitations to work with the entities instead of objects? Maybe there is a future milestone about the change this approach?

Do you have extra information about this subject?

[2019-03-04 16:25] #483 closed

[2019-03-04 19:30] milosloub commented on #483
There is the limitation comming from HttpPatch itself. HttpPatch reflects only truly changed attributes. For example, you have Game entity, you send PATCH on your title attribute, then you face several problems:
1) input Game model holds only Title property filled and all the others are null (or default values). If you send this to DB via context.SaveChanges(), you will reset all the other propert

[2019-03-05 04:56] sadedil commented on #483
Hmm... I've missed that point. Thanks for the explanation @milosloub.

[2019-03-06 16:25] AlexWobbe opened #484 "TotalRecordCount and DefaultPageSize not working?"
## Description
Hello,

i'm using JsonApiDotNetCore  in a project without EF and no DbContext.
I added following options to startup:

`services.AddJsonApi(options => {`
             `   options.Namespace = "jsonapi";`
`                options.DefaultPageSize = 10;`
`                options.IncludeTotalRecordCount = true;`
`                options.BuildResourceGraph((builder) => { `
`

[2019-03-07 17:32] NullVoxPopuli commented on #465
A rough implementation lives on over here: https://github.com/sillsdev/appbuilder-portal/pull/504

Some key points of interest:
 - SignalR "Hub" mounted at `/hubs/data`: https://github.com/sillsdev/appbuilder-portal/pull/504/files#diff-588e201e0899badfabf44b3dc2a863ffR196 (could be anywhere though afaik)
 - the Hub (thing that handles subscriptions / incoming data): https://github.com/sillsdev/app

[2019-03-13 15:56] XaserAcheron commented on #238
This is really kicking my rump -- I'm trying to do this with a HasManyThrough relationship so the posted workaround doesn't apply. Any advice, by chance?

[2019-03-13 16:19] idoban opened #485 "Cannot run tests in parallel because TypeLocator is using a static cache shared between tests"
## Description
Cannot run concurrent tests using TestServer when using Auto Discovery to register types.

Staetup.cs
services.AddJsonApi(facade => facade.AddCurrentAssembly());

System.InvalidOperationException : Collection was modified; enumeration operation may not execute.
Stack Trace:
at System.Collections.Generic.List`1.Enumerator.MoveNextRare()
at JsonApiDotNetCore.Graph.ServiceDiscoveryFaca

[2019-03-14 10:29] AlexWobbe commented on #484
I finally learned that TotalRecordCount, Filtering and Paging can be achieved by injecting IJsonApicontext into the Resource Classes and then set the needed Properties in the JsonapiContext

[2019-03-14 10:29] #484 closed

[2019-03-19 14:07] wisepotato opened #486 "Update Sourcelink"
Is it necessary that sourcelink is on an outdated version?  I have problems with my Docker building with this specific version when using the source code to build.

If not I'll make a PR

[2019-03-24 15:06] CoolGoose commented on #223
Hi @jaredcnance . Is there a plan on getting the new docummentation up and running ? Any way I can help consolidating the two websites (it is confusing at times)

[2019-03-24 16:55] CoolGoose opened #488 "ValidateModelState issues"
## Description

Hi guys.
I'm a bit new on net core development, so hopefully this isn't anything basic.
I've enabled ValidateModelState and the validation works, but not how I would expect.

Sending for eg:
[code]

Works fine, however, I tried using the jsonapi format of
[code]

And of course this fails. And in theory from what I know it's normal since it's only `[FromBody] TaskModel item` , but i

[2019-04-04 19:40] sarahentzel opened #491 "HasManyThrough always returns data:null but includes returns data"
## Description
Running the JsonApiDotNetCoreExample, `http://localhost:1479/api/v1/articles/1/tags` returns `{"data":null}` but  `http://localhost:1479/api/v1/articles/1?include=tags` returns the tags:
[code]

## Environment

- JsonApiDotNetCore Version: I've tried using release 3.0.0, develop and master branches
- Other Relevant Package Versions:

[2019-04-06 18:16] CoolGoose commented on #488
Nevermind, you need to send "application/vnd.api+json" . Great that there are acceptance tests.

[2019-04-06 18:16] #488 closed

[2019-04-10 18:13] sarahentzel commented on #491
@wisepotato Were you able to get data with  api/v1/articles/1/tags as well as api/v1/articles/1?include=tags (after you fixed it?)

[2019-04-11 08:27] maurei opened #492 "Update one-to-many through PATCH on resource not working"
A [core feature of the spec](https://jsonapi.org/format/#crud-updating-resource-relationships) is currently not supported:
[code]

**Cause of the problem**
Because of incomplete information on `_jsonApiContext` in the case of `one-to-many`, which is set in the `JsonApiDeserializer`, the `DefaultEntityRepository` does not attempt to update such relationships. Details:

*  In the case of `one-to-one

[2019-04-11 09:40] wisepotato commented on #491
Is there a specific issue you are referring to? This could very well not be implemented yet

[2019-04-11 14:23] sarahentzel commented on #491
It *seems* like it has been implemented based on issue #453 which sounds like the same issue solved.

[2019-04-11 14:46] maurei opened #494 "Update many-to-many through PATCH on resource not working"
Exactly same part of the spec as #492  but for `many-to-many` instead of `one-to-many`.

Currently creating relations in the simplest scenario works, as clarified by [this test](https://github.com/wisepotato/JsonApiDotNetCore/blob/0158da3e80cf0c82b846f13b52d5133f0ce3c50b/test/JsonApiDotNetCoreExampleTests/Acceptance/ManyToManyTests.cs#L205)

More complex scenarios will fail. Eg, consider and artic

[2019-04-11 19:13] division-by-zero commented on #492
HasOne relationships are also not updated. This request doesn't update the relationship.

[code]
This request works though:

[code]

[2019-04-12 07:35] wisepotato opened #495 "POST with relations not working"
## Description

currently not receiving the correct output, investigating, but needed an issue number

## Environment

- JsonApiDotNetCore Version:
- Other Relevant Package Versions:

[2019-04-12 08:46] wisepotato commented on #495
Checked, is working. You can close this.

[2019-04-12 13:31] maurei commented on #253
Just a thought I was having which is kinda related to `JsonApiContext`...

I haven't checked it thoroughly, but I think JsonApiContext is the main (if not the only) service that causes a strong coupling between the (de)serialization layer and the controllers/services/repo layer.  I think the controllers/services/repo layers are pretty powerful the way they are right now, and on their own they coul

[2019-04-12 20:13] CoolGoose commented on #259
Bump-ing this since i would like to help @crfloyd

[2019-04-13 17:48] #492 closed

[2019-04-15 15:34] maurei commented on #492
There was an additional issue related to entity tracking that caused an error when performing a complete replacement with a new collection that contained an element that was already in a previous collection. This has been addressed in #496.

[2019-04-23 07:44] #495 closed

[2019-04-23 07:45] maurei commented on #491
@sarahentzel did you manage to work this out? Is this still an issue?

[2019-04-23 07:49] maurei commented on #482
I'm not extremely familiar with the `QueryFilter` class but I don't see any clear objections. Would have to look into it. Meanwhile, a more elaborate proposal would be helpful in working through your idea! What are your recent thoughts on this?

[2019-04-23 10:33] sarahentzel commented on #491
It is still an issue.

[2019-04-23 16:17] maurei commented on #491
OK, we're currently working on releasing a new version, should be finished somewhere this week. Will look into this after that. If you could meanwhile make a branch with a test that reproduces the exact error, it would greatly aid me in quickly fixing it :-)

[2019-04-23 19:30] sarahentzel commented on #491
Permission to json-api-dotnet/JsonApiDotNetCore.git denied to sarahentzel

[2019-04-23 20:11] wisepotato commented on #491
You can fork the current repository, and then create a pull request, it will show us the test

[2019-04-24 16:28] maurei commented on #459
Addressed in #494. Will be fixed in v3.2.0

[2019-04-24 16:28] #459 closed

[2019-04-24 16:29] maurei commented on #443
Closing as no reply

[2019-04-24 16:29] #443 closed

[2019-04-24 16:30] maurei commented on #440
Is this still relevant?

[2019-04-24 16:31] #407 closed

[2019-04-24 16:32] maurei commented on #353
Would be nice to include this in v3.2.0

[2019-04-24 16:37] maurei commented on #238
@XaserAcheron is this still an issue? We can consider looking into it after releasing 3.2.0

[2019-04-24 16:51] XaserAcheron commented on #238
It's still a bit troublesome -- I ended up having to do some non-ideal workarounds from the UI side in order to get around the limitation -- but I'm not critically blocked or anything, thankfully. :)

Thanks for the help, BTW!

[2019-04-24 18:18] maurei commented on #238
That is, indeed, suboptimal. I think this issue is one of the more workable issues so we might still look into it after v3.2.0. Also, you are encouraged to get started on it (in which case you can PM me with any questions)

[2019-04-24 19:20] wisepotato commented on #238
@maurei this would be easily done in the new filtering/hooks backend.

[2019-04-24 19:31] wisepotato commented on #486
Closed, mistake by me.

[2019-04-24 19:31] #486 closed

[2019-04-24 19:52] maurei commented on #238
In that case you'd have to "hardcode" the filter in a hook, which doesnt allow for much flexibility like when filters are added dynamically with query params.

Although might be possible to inject JsonApiContext in the hooks and access the url query params as such, that feels hacky. I think it should be supported off the shelve

[2019-04-24 21:18] wisepotato commented on #238
I meant that we can parse the query filters and apply them on the needed items, as we are parsing them in memory anyway, refardless of hooks

[2019-04-24 23:54] amit-ch opened #497 "Deserializer only links attributes and not included relationships"
For a simple model like below

[code]
Serializer works fine and get customer with included relationship returns the desired response
/api/v1/customers?included=orders.invoices

[code]
However on using the same json as input for post/put operation and trying to deserialize into customer instance with all fields/relationships populated,  it does not load included relationship.
In this instance, cust

[2019-04-25 05:14] wisepotato commented on #497
Can you link to json:api spec where it says this should be supported? Seems like it should.

[2019-04-25 07:44] maurei commented on #497
I don't think it's a part of the JSON:API spec to support create/update with nested relationships.

If we were to adjust the serialization layer to create the output as you're describing, things will break in the repository layer because the current implementation does not handle updating nested relationships. I don't think we should do that, therefore I think we can close this issue.

However: Th

[2019-04-25 08:10] amit-ch commented on #497
There is no mention on json:api for this so not sure. However I have seen other libraries do that which makes me think this is very much standard.
I plan to use the library without any persistent layer and have my own implementation in service layer.
I think it should be deserializing whatever is available in json input and not create/update nested relationships

[2019-04-25 08:23] maurei commented on #497
I totally agree, I'm in!

Work that will be involved:
1) Serialization layer needs to be decoupled (related to #263, #253): this will affect `JsonApiContext` , (in particular, I think, the exposure of `HttpContextAccessor`) so that we can decouple it from query params.
2) Need to prevent nested relationship create/update in default implementation of repository/service layer
3) Need to investigate

[2019-04-25 08:59] #475 closed

[2019-04-25 10:24] #494 closed

[2019-04-25 11:50] joshhubers commented on #482
@maurei I can look into implementing this this week, seems like the second idea would probably be best since it contains all the filtering information in a POCO and any future modifications to ```FilterQuery``` would make the custom filtering simpler in the future with access to the full object.

"second idea" being:
```public class QueryFilters : Dictionary<string, Func<IQueryable<T>, FilterQuery

[2019-04-25 12:29] maurei commented on #482
Sounds good! I'm really curious if such implementations would break any tests that cover other parts of the framework. If not, we should be able to include it straight away.

[2019-04-25 18:15] ngboardway opened #500 "Increase ResourceDefinition DefaultSort Visibility"
We are using a data source other than Entity Framework for part of our project and are implementing IEntityRepository ourselves. We want to be able to make use of resource definitions, but currently both pieces related to sorting are marked internal or protected.

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/e58a48dc25248a042bf3f3142186736faa2e908a/src/JsonApiDotNetCore/Models/Resourc

[2019-04-25 19:36] wisepotato commented on #500
I'll need to take some time to look into this, is this not something you can handle in the controller/service layer for now? As a workaround

[2019-04-26 15:02] #482 closed

[2019-04-27 15:40] mabead opened #501 "Calling 'AddJsonApi' bypass all the exception handler middlewares"
## Description

Before using JsonApiDotNetCore, I had an ASP.NET Core middleware that had the responsibility to reformat all exceptions that occured in my controllers. This middleware was almost identical to [this one](http://anthonygiretti.com/2018/09/04/asp-net-core-2-1-middlewares-part1-building-a-custom-middleware/).

As soon as I started to use JsonApiDotNetCore by calling `AddJsonApi`, my mi

[2019-04-27 15:47] mabead commented on #501
IMHO, the `JsonApiExceptionFilter` should only handle the exceptions that occur within a controller that inherits from `JsonApiController`.

[2019-04-27 16:22] wisepotato commented on #501
I think being able to define your own exception filter is the better option here, and i get your point, but it should also happen for the mixin controller, not the derived jsonapicontroller

[2019-04-27 17:08] mabead commented on #501
Providing my own exception filter sure is a powerful option. But I feel that calling `AddJsonApi` should not change the behavior of an existing code base (which it currently does). New users of JsonApiDotNetCore won't typically dig in the details of how this call affects the ASP.NET Core pipeline. Instead, JsonApiDotNetCore should, in my opinion, be as friction free as possible. I would suggest to

[2019-04-27 21:21] jaredcnance commented on #501
Another option would be to just inspect the ContentType of the request and only handle failures for application/vnd.api+json

[2019-04-28 18:27] ngboardway commented on #500
We are working around this for now, yes. We would just like this functionality to be available to keep things clean/ uniform.

[2019-04-29 07:18] wisepotato commented on #500
@maurei could you integrate this into the PR for hooks? Its a small fix

[2019-04-29 07:53] maurei commented on #500
Afaik there is no reason it's set to `internal`, but haven't researched it properly, probably @jaredcnance would know this off the top of his head.

That being said I've seen many other methods/properties throughout the codebase that are set `internal` or `private`, which as far as I can see just obstructs the extensibility, so I think we can just set it to `protected`.

What is the problem btw wi

[2019-04-29 08:47] maurei commented on #501
For v4.0 I think we could implement the proposal of either @mabead or @jaredcnance. I'm not sure which one is better

[2019-04-29 09:01] maurei commented on #485
I agree it's not optimal to not be able to run the test concurrently, but they still run pretty quick so it's not really bothering me, therefore I would say this is a pretty low priority issue. Thoughts?

[2019-04-29 09:05] maurei commented on #479
@wisepotato this sounds like we can handle this using resource hooks. Can we therefore close this issue?

[2019-04-29 09:07] maurei commented on #477
Closing so we can stick to #478 for all correspondence about this

[2019-04-29 09:10] maurei commented on #467
@czemanek-arm If this is still relevant, I will look into this if you can provide me with reproducible case (a branch with tests that expose your issue)

[2019-04-29 09:12] maurei commented on #463
I'll look into this eventually, although I have a pretty long list of chores. If you feel like getting started on this @MichaelHancock, would be greatly appreciated

[2019-04-29 20:20] jaredcnance commented on #485
Can you patch it to use `ConcurrentDictionary` and see if it solves your problem. If it does, then you can open a PR.

[2019-04-29 20:25] jaredcnance commented on #500
I can't remember the motivation for making this internal off the top of my head right now. Usually, the reason for making a method `internal` is because it increases the surface area of the public API and makes it more difficult to reason about which changes are potentially breaking. So, usually when an API is added, if no use case exists (at that time) to publicly expose it, then I wouldn't. In t

[2019-04-29 21:03] ngboardway commented on #500
We are implementing IEntityRepository to create a base (generic) repository for our non-ef models/ data access similar to the default entity repository. To that end we are trying to replicate this behavior.

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/0416df760719a41612fda20bae21e3f7d6707855/src/JsonApiDotNetCore/Data/DefaultEntityRepository.cs#L119-L138

I'm proposing making Default

[2019-04-29 22:25] jaredcnance commented on #500
Makes sense. Public accessibility should be fine here.

[2019-04-30 08:56] maurei opened #502 "Refactor AttachRelationships: prevent reattachment, support implicit remove"
### Problem
Consider the following scenario
* `Person` one-to-one `Passport`
* initial condition of the database:
     * two `Person`s items: `person1, person2`.
     * only one `Passport` item: `passport`
     * foreign key `PassportId` on `person1` equals id of `passport`

We now do a `PATCH /people/2` and attempt to update the relationship of  `person2` by relating it to `passport`. What I woul

[2019-04-30 11:45] wisepotato commented on #501
I disagree with @mabead that jsonapi should not change existing code base, as the errors should be Json:api spec. But you should be allowed to turn them off, or atleast alter the conditions under which they are run.

[2019-05-02 20:25] wisepotato commented on #479
Absolutely!

[2019-05-02 20:26] wisepotato commented on #479
Actually noy really, sparse field selection is not available in the hooks

[2019-05-02 22:19] PiotrBrzezianski commented on #342
@jaredcnance there seems to be enough details to decide what to do with this further.
I was able to reproduce by following the steps above - basically posting data that doesn't conform to validation attributes while using Content-Type: application/vnd.api+json.

I'm new to this codebase but it looks to me that the DocumentBuilder fails to notice that there were validation errors and tries to seria

[2019-05-03 03:19] amit-ch commented on #144
Is it possible to generate links object manually outside of resource objects with noentityframework. For example when I do get all, I should be able to generate first and last links
`
{
    "data": [
        {
            "attributes": {
                "isActive": false
            },
            "type": "organisation",
            "id": "1243"
        }
    ],
    "links": {
        "last": "htt

[2019-05-03 03:59] amit-ch commented on #144
I am able to access PageManager just before serving the response and give values for total records and current page which is generating the links fine. If there is some other neat way of doing it, please let me know. Thanks.

[2019-05-03 05:29] maurei commented on #144
@amit-ch that sounds like the way I'd try to solve it

[2019-05-03 13:17] wisepotato opened #504 "JsonApiContext should be split into multiple classes for easy testability"
And we are mostly concerned with making sure that the deserializer has no need for the current HttpContext so that we can stop with E2E testing trivial stuff.

* `JsonApiContext` is `scoped`

With these notes we want to see the lifecycle of the `JsonApiContext`

## Where does Middleware touch JsonApiContext

These fields are being set by means of `JsonApiContext` :

* `JsonApiContext.BeginOperatio

[2019-05-08 20:45] rjacquemin commented on #491
we did encounter same issue

![image](https://user-images.githubusercontent.com/12820060/57406958-0d219c00-71b0-11e9-9475-e5d7407547c1.png)

calling `"related": "/api/admin/packs/2/genres"`
![image](https://user-images.githubusercontent.com/12820060/57407227-ad77c080-71b0-11e9-8472-6d8cd75524ef.png)

calling with include
![image](https://user-images.githubusercontent.com/12820060/57407210-a486ef00

[2019-05-08 21:31] adu89 commented on #491
@rjacquemin @wisepotato

Looks like the issue is in ResourceGraph.cs

![image](https://user-images.githubusercontent.com/10604159/57409509-786e6c80-71b6-11e9-9672-ff978dea4f26.png)

Looks like the variabe "navigationProperty" does not reflect the one specified by [HasManyThrough(nameof(...)] attribute on the original entity.

[2019-05-16 12:54] wisepotato opened #507 "IsImmutable weird behaviour"
Lets say I have the following model
[code]
If I deserialize something coming in that has `fullName` I dont want it to be set.

## Environment

- JsonApiDotNetCore Version:
- Other Relevant Package Versions:

[2019-05-17 06:24] milosloub commented on #507
Can you set fullName if it is read-only? (only get accessor)

[2019-05-17 06:39] milosloub opened #509 "DateTimeOffset is modified during deserialization"
## Description

The problem is on this line
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/0416df760719a41612fda20bae21e3f7d6707855/src/JsonApiDotNetCore/Serialization/JsonApiDeSerializer.cs#L39

When using DateTimeOffset type and using JToken.Parse, it is converted to DateTime (so it is modified) as it is hardcoded as a standard behavior, see:
https://github.com/JamesNK/Newtonsoft.Json

[2019-05-21 06:23] #509 closed

[2019-05-27 10:44] maurei commented on #500
made it public in 86e11d4c5ad6ad5c2ca7ca6baf253cff52719a48

[2019-05-27 10:44] #500 closed

[2019-05-28 13:08] incomudro opened #514 "Patch does not update the data"
## Patch does not update the data

We are building an API in AspNetCore (without a mapping for the entities). While using the `JsonApiController`, the Get, Post en Delete work fine. However, the Patch does not work.

I have override the PatchAsync, and the application get into that breakpoint, but the entity remains empty and the `AttributesToUpdate` remains an empty list.

I seems as if this code

[2019-05-28 14:08] wisepotato commented on #514
I dont personally use the entity resource split, maybe @milosloub has some insights into this?

[2019-05-28 14:36] incomudro commented on #514
Entity resource split? In this example the model in the API is equal to the data-model and am not aware of any splitting. But it can be that I misunderstand with is meant with 'entity split'.

For testing the patch operation loose from the rest of the application, I created a simple model and called it `patchtable`, that would be stored in he database table named `patchtable`. With hindsight I sus

[2019-05-29 09:54] maurei commented on #514
Weird, I can't see anything odd in your code. Could you share your patchable example app in a repo so I can run it and dive into the details?

[2019-05-29 16:13] incomudro commented on #514
@maurei  I've created an empty project with just one entity. The project is public, thus you should be able to view its content. EF is setup with a MS SQL Server in mind.  If preferred, I can use the source-code of your application and add it to the project, instead of adding it as a NuGet package. In the readme I've included the API calls I've tried.

I suspect that I am missing something somewhe

[2019-05-30 08:55] maurei commented on #514
I'll look into it and let you know!

[2019-05-30 09:30] milosloub commented on #514
@incomudro Hi, be carefull with your naming convention - your Context use Patchables and your type is "patchable". The problem with this line
`services.AddJsonApi<ApplicationDbContext>();`
is, that your application muse use same convention in controller layer as you use in your ApplicationDbContext.
And there is another hidden convention with this - your controller name defines "type"
(BlogControl

[2019-05-31 07:15] #514 closed

[2019-05-31 15:39] ayoung-cforp opened #515 "HTTP PATCH doesn't update nested owned types"
## Description

My data model has nested "owned" types.  Owned types that are direct parents of a resource can be patched just fine, but when an owned type "owns" anther type, PATCH still succeedes but ignores the nested fields.  The relevant part of the data model looks like this:

[code]

From what I understand, owned types use "table splitting", so this data model produces a `Student` table wit

[2019-05-31 16:46] milosloub commented on #515
@ayoung-cforp Hi, can you check if you can do it with pure EF Core approach without JADNC library? I think it's related to this issue, but havent tried
https://github.com/aspnet/EntityFrameworkCore/issues/12118

[2019-05-31 23:13] ayoung-cforp commented on #515
Thanks for the quick follow-up.  I think that issue is precisely the problem.

It's quite misleading that [Microsoft's EF Core documention itself describes the exact thing I'm trying to do](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities) even though it's broken!

It looks like it might be fixed in version 3.0.  I'm going to switch to VS 2019 preview and try it out.

[2019-06-03 13:26] incomudro commented on #514
Thanks for the feedback, although the answer contained a mistake (see second lesson learned). Basically, the type in the body of the patch-request should match the name of the associated DbSet<T>, as in, both should be either plural or both should be singular.

The feedback did however helped me in the right direction :)

I've updated my test-project and will leave it there for a while. Feel free

[2019-06-03 17:06] ayoung-cforp commented on #515
I can confirm that it now works after switching to .NET Core 3.0 / Microsoft.EntityFrameworkCore.Sqlite 3.0.0-preview5.19227.1, with one caveat (this isn't a JsonApiDotNetCore problem, though maybe others will find it useful):

When I initialize owned types, at least one field (that is not another nested type) needed to be set to a non-null value, otherwise patching would fail with an error like t

[2019-06-04 07:01] wisepotato commented on #515
Closing as its not a JsonApiDotNetCore problem

[2019-06-04 07:01] #515 closed

[2019-06-05 11:24] maurei opened #516 "Docs: update Resource hooks doc"
Need to update the resource hooks usage guide to include a description how to use the `BeforeUpdateImplicitHook` in the case where no EF Core is used.

See [this comment](https://github.com/json-api-dotnet/JsonApiDotNetCore/pull/478#discussion_r290047439)

[2019-06-06 09:18] maurei opened #517 "Bug with interaction between ResourceHooks and DefaultEntityRepository when updating entities"
This is a bug resulting from complex interaction between the repository and resource hooks.

See [PersonDefinition](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/59a93590ac4f05c9c246eca9459b49e331250805/src/Examples/JsonApiDotNetCoreExample/Resources/PersonResource.cs#L19) in JsonApiDotNetCoreExample and the [Patch_Entity_With_HasMany_Does_Not_Included_Relationships](https://github.com

[2019-06-06 10:22] maurei commented on #516
Taken care off in 6a7c8d1

[2019-06-06 10:22] #516 closed

[2019-06-06 12:34] #507 closed

[2019-06-07 19:53] maurei opened #519 "DefaultEntityRepository: inconsistent data handling"
This issue is related to #502 in the sense that it's also about cleaning up the default repository layer

Issue:
in `CreateAsync` the values that are stored in the database are a direct result of the values of the properties of the to-be-created. This makes sense, because in the service layer, the following call is made: `await _repository.CreateAsync(entity)`, and intuitively, any changes that ar

[2019-06-11 11:17] maurei opened #520 "Bad PATCH request (without ID) does not return HTTP 400"
There are currently several PATCH related tests (for example [Can_Patch_CamelCasedModels](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/8b630c471d7973fa6621ed6f978bc866a6d95a7c/test/JsonApiDotNetCoreExampleTests/Acceptance/CamelCasedModelsControllerTests.cs#L133)) that are passing but shouldn't. When [according to the specs](https://jsonapi.org/format/#crud-updating), the id attribute

[2019-06-12 18:13] joshhubers opened #521 "Modifiable related links protocol"
## Description
A bit of an issue I've ran into is that when related links are created for related models it uses the protocol from the default configuration. This is problematic as I'm running an application behind a load balancer/proxy with SSL termination. So while the server itself is only http, the related links need to be https for consuming applications to fetch related resources over https.

[2019-06-14 17:34] ngboardway opened #522 "Bug with deserializing TimeSpans"
## Description
Currently the TypeHelper ConvertType method does not support deserializing TimeSpans (throws error with message "System.String cannot be converted to System.TimeSpan").

PR to come shortly.
...

## Environment

- JsonApiDotNetCore Version: 3.1.0
- Other Relevant Package Versions:

[2019-06-14 21:32] #522 closed

[2019-06-16 09:40] maurei commented on #521
Sounds like there is no way to register your own `LinkBuilder` and provide JsonApiDotNetCore with a custom linkbuilding? I feel this would be the way to fix your problem.

[2019-06-17 09:10] wisepotato opened #524 "V4 obsolete check"
We have to check all obsoletes in v3 so that we can remove them for v4.0.0

[2019-06-17 09:30] #502 closed

[2019-06-17 09:30] #520 closed

[2019-06-17 10:41] #519 closed

[2019-06-18 09:37] maurei commented on #521
@joshhubers

The way I propose to solve this is the following. Right now, `LinkBuilder` is not registered with DI and instantiated internally by `DocumentBuilder` and `JsonApiContext`. I propose to change so that `LinkBuilder` implements `ILinkBuilder`:

[code]
And then register the current `LinkBuilder` class as the default implementation. You can then register a manual implementation that suits

[2019-06-19 09:54] wisepotato opened #526 "Inability to unit test hooks because of use of internal"
Currently there is no way to unit test beforeupdate

[2019-06-19 10:13] #526 closed

[2019-06-19 15:29] PiotrBrzezianski opened #528 "SetHasOneForeignKeyValue detects string as non-nullable type and throws exception"
## Description
I have a 0..1 to 1 relationship using foreign key of type string. As string can be null so it should be fine to use it as a foreign key in this scenario but I'm getting an exception thrown from ```SetHasOneForeignKeyValue``` method:

"Cannot set required relationship identifier '{hasOneAttr.IdentifiablePropertyName}' to null because it is a non-nullable type."

I believe this is bec

[2019-06-19 15:50] maurei commented on #528
Thanks for pointing this out!

In which scenario are you encountering this issue? I'll need a little reproduction case to be able to address this issue further. You could make a PR with a test that exposes this bug or share a repo with an example app that exposes the bug.

[2019-06-19 16:12] PiotrBrzezianski commented on #528
Thanks for a quick reply @maurei !
Apologies for not following the process but it is end of day for me. I can add more details tomorrow but if that helps in the meantime here is the bit of code (modified by me) in JsonApiDeSerializer I suspect to be the cause.
[code]
I think adding string as a special case might be enough as I can't think what else anyone could use that is not int?, guid? or strin

[2019-06-19 16:28] joshhubers commented on #521
That works for me!

Thanks for the thoughts! I can implement this myself in the same time period, this week or the next and open a PR.

[2019-06-20 06:18] maurei commented on #528
Just wondering: since you're using FKs of type `string`, what kind of identifiers are you using?

[2019-06-20 06:20] maurei commented on #517
closed in #518

[2019-06-20 06:20] #517 closed

[2019-06-20 06:21] maurei commented on #477
Resource hooks have been merged and released in v4.0.0-alpha3

[2019-06-20 06:21] #477 closed

[2019-06-20 15:02] maurei opened #530 "Can't delete to-many relationship by patching resource"
See test in 0cbd2ef4098d7f789f079262ec96bcfe0e130a5c

[2019-06-21 09:18] PiotrBrzezianski commented on #528
Hi @maurei - the PR is there with a new test which should hopefully explain the scenario better.
And to answer your question there are two main cases where I've seen use of string keys:
1. I'm using string IDs generated from EventFlow library. They put the entity name in front of the guid which helps with debugging a bit but it also helps to make sure you cannot pass author guid as book id by acci

[2019-06-21 09:55] maurei commented on #528
Okay I was wondering whether you were doing some bad practise with respect to your primary keys but this seems like a totally valid usecase! I will review your PR shortly.

[2019-06-21 09:57] #528 closed

[2019-06-21 09:59] maurei commented on #528
We'll release this in alpha4 which I'm expecting be published by the end of next week

[2019-06-21 10:02] #530 closed

[2019-06-21 10:26] #524 closed

[2019-06-24 14:47] ngboardway commented on #521
@maurei Considering the LinkBuilder constructor currently takes the JsonApiContext as a parameter (and the link building is coupled to the context rather heavily), can you think of any way to use DI to inject the correct implementation of ILinkBuilder that doesn't require refactoring the construction/ use of the LinkBuilder to remove the JsonApiContext from the builder (since it would result in a

[2019-06-24 15:06] ngboardway commented on #521
It looks like a lot of this work is being started in #504 (I noticed the introduction of the ILinkBuilder interface). Waiting to see how that plays out before duplicating the refactoring that's happening there.

[2019-06-24 19:10] maurei commented on #521
It will take at least several weeks more for #506 (which is the PR for #504) to be finished and merged because the scope of the project to decouple the entirety of `IJsonApiContext` is a lot bigger than just refactoring `LinkBuilder` into `ILinkBuilder`. Feel free to start refactoring  `ILinkBuilder`  in a separate PR so we can release that earlier and make it available to you guys.

[2019-06-25 07:59] wisepotato commented on #521
Yeah i'll be working on #506 next week, but wont finish probably

[2019-06-25 12:05] ngboardway commented on #521
I think we're still going to wait. We have a workaround in place for the time being and like the direction the PR is heading (especially the request manager). We'll check back in a few weeks once you've had a chance to work on it more and see if/ what more still needs to be done.

[2019-06-26 13:45] wisepotato opened #534 "IsImmutable does not throw an error"
I would expect `isImmutable` property of `Attr` to throw an error when i am updating an entity

tests:
* If i update a todo with immutable property (x) and mutable property (y), i expect an error (401/403 whatever) to be thrown or atleast for me to define the expected behaviour
* If i update a todo with immutable property (x) only I expect an error

follow up: Can i define a property to not be set

[2019-06-26 13:50] wisepotato commented on #521
I would suggest proposing a PR that introduces an ILinkBuilder for your needs, and I will integrate this into #506 , so that no duplication will be necessary. Or you can wait, up to you :)

[2019-06-27 14:28] ngboardway commented on #521
What we need is to be able to override the scheme of the base path. (based on your pr) this has technically been moved out of the LinkBuilder altogether. If the base path is only set in the request middleware, we're thinking that adding an option to the I/JsonApiOptions could be more helpful. Whether that's a boolean that the scheme should always use https, providing a string, etc.

[2019-06-27 14:29] rpatrick00 opened #535 "Enhancement Request: Read-Only Service interface"
## Description
I am trying to use the framework to access read-only data stored in Elasticsearch.  Taking the recommended approach, I started customizing the service layer only to realize there were a dozen or so create, update, and delete interfaces I needed to implement that were irrelevant to my use case.  I think it would be nice if the service layer interface had a read-only interface that I

[2019-06-27 14:41] wisepotato commented on #535
you need to disable a few methods but this is certainly possible, can you give an example of these "dozens" of interfaces? We're open to these suggestions, as a readonly service is a great addition. @maurei  thoughts?

[2019-06-27 14:47] wisepotato commented on #535
Althought this isn't too much work to implement. Will investigate.

[2019-06-27 14:53] rpatrick00 commented on #535
I’m not sure how to “disable” the methods.  Simply throw a not implemented exception?

My object generally has no need for create, update, delete operations on the object or relationships.  Also, we do not support GetAll without filters.

[2019-06-27 17:39] wisepotato commented on #535
well a not implemented would server well, or a jsonapiexception would serve nice as you have control voer the status code

[2019-06-28 12:24] maurei commented on #535
Hi @rpatrick00,

If I'm not mistaken, the interfaces you're looking for can be found [here](https://github.com/json-api-dotnet/JsonApiDotNetCore/tree/master/src/JsonApiDotNetCore/Services/Contract). Looks like you want to use the  `IResourceQueryService<T>`.

If you need custom service code, you can just use this to build your own implementation and register that one
[code]
If you still want to  u

[2019-06-28 15:17] maurei commented on #521
My intuition says that says that base path should still be part of LinkBuilder and @wisepotato was planning on putting it back in there but didn't get there yet. I could be wrong though, I haven't thought it through in much detail

[2019-06-28 16:40] rpatrick00 commented on #535
@maurei, thanks!  That's a huge help.  I will give it a try.

[2019-07-01 04:57] maurei commented on #239
This is still an issue for the repository layer

[2019-07-01 05:52] maurei opened #536 "[RFC] Simple custom implementation of UpdateAsync in service layer not possible due to tight coupling with model Attributes"
### The issue

* Tight coupling between the repository layer and the the model attributes (`Attr`, `HasOne`, etc ... ) makes it hard to add very straight forward business logic in a custom service layer

#### Why?
The following internal snippet from `DefaultEntityRepository` shows how updating resources is currently reliant on `JsonApiContext` and the `Attr` attribute. The `JsonApiContext` propert

[2019-07-01 08:45] wisepotato commented on #536
So one of the things we should note here that could be a solution is a " entity core"esque implementation of the dbcontext for our resourcegraph. An example:

[code]

[2019-07-04 06:49] maurei opened #537 "Missing CTOR in JsonApiQueryController"
For read-only resources we can use `JsonApiQueryController` to expose only the actions that are associated to reading. However, the only available constructor has a dependency on `IResourceService`:
[code]

If one were to make a resource that is truly read-only, it should not be required to fully implement `IResourceService`, but just `IResourceQueryService` should be enough. A constructor should

[2019-07-04 06:50] maurei commented on #535
closing as question resolved, created a new issue dedicated to the problem I mentioned in my earlier comment

[2019-07-04 06:50] #535 closed

[2019-07-05 15:44] maurei opened #538 "Change IEntityDiff<T> to IDiffableEntityHashSet<T>"
I would like to propose to change `IEntityDiff<T>` to `IDiffableEntityHashSet<T>` which introduces a change in behaviour that I believe is more intuitive. We can still come up with a better name, but the meat of this proposal is the change of behaviour, as discussed below.

**Why?**
Because I think the current behaviour of `IEntityDiff<T>` is not very intuitive. Let's explore this by comparing the

[2019-07-05 15:46] maurei commented on #538
@wisepotato

[2019-07-14 02:43] UpQuark opened #540 "Support for DB-first scaffolding?"
## Description

Hi folks,

I'm experimenting with converting a .NET Core backend to use this package so it can play nicer with an Ember frontend's JSON API support. I already have an existing DB that I've been using `dotnet ef dbcontext scaffold` to scaffold models and a DBContext from. I notice the docs at https://json-api-dotnet.github.io/#/step-by-step only mention application-first DB-schema c

[2019-07-14 11:04] maurei commented on #540
The only thing that DbContext is used for by the JADNC framework is to build the [ResourceGraph](https://json-api-dotnet.github.io/JsonApiDotNetCore/usage/resource-graph.html) (which is a map of all the json:api resources and their relationships that your API serves). JADNC doesn't care how the DbContext got there, so it doesn't matter if you created it through a code-first or database-first appro

[2019-07-14 16:49] UpQuark commented on #540
Hi @maurei, yes this was totally helpful, thanks for your answer! I'm new to EF Core and JsonApiDotNetCore so forgive any ignorance of basic concepts.

My issue is basically about my personal development style with JsonApiDotNetCore; I'm regularly doing DB updates and re-scaffolding my models from the altered DB. This overwrites any `HasMany()` / `HasOne()` attributes that I've manually added to m

[2019-07-14 17:13] maurei commented on #540
Interesting approach with handlebars! Thanks for that.

It seems you have a good use-case for being able to configure relationships outside the model definitions. We'll weigh that in when we select new features to work on!

Closing as question answered :)

[2019-07-14 17:13] #540 closed

[2019-07-17 11:46] #538 closed

[2019-07-26 05:02] UpQuark opened #542 "Empty HasMany relationship data[] on requests without "includes""
## Description

Hi folks. I'm seeing some odd behavior setting up / fetching relationships. I have two entities, `subscription` and `pricingTier`. `pricingTier` hasMany `subscription` and `subscription` hasOne `pricingTier`, which seems straightforward enough.

When requesting `/api/pricing-tier`, I see:

[code]

...note the empty array under `data` for the HasMany, but not the HasOne relationship

[2019-07-30 10:18] joshdenable opened #543 "Missing null check in ParseSortParameters"
## Description

Hi all,
When requesting using a query string with an empty sort segment, e.g.
```/api/...?sort=```
or
```/api/...?sort=text,,number```,
a 500 is thrown instead of gracefully handling the exception. This seems to be because there's a missing null check [here](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/c6762b399bca08712650b1ae2bf4b06d9da957a6/src/JsonApiDotNetCore/Serv

[2019-07-31 09:41] maurei commented on #542
It's definitely not by design, but I'm not sure if it's caused by your setup or if its a bug. I can look into it soon, but a small repro case would be helpful!

[2019-07-31 09:57] wisepotato commented on #543
Hi this will be fixed with the next alpha release

[2019-07-31 09:58] #543 closed

[2019-08-05 17:25] UpQuark commented on #542
Okay. I'll take a look and see if I can make a reproduction case for you! I wanted to make sure it wasn't by design before I went really nuts on tearing up my database configuration.

Thanks.

[2019-08-14 03:29] UpQuark commented on #542
Hey. Below  is some example JSON from an API response. I made a stripped-down version of my project to just be two models with bare bones attributes. I want to to clarify just so I'm expecting the right things:

The relationships links work fine and return data as I'd expect. I'm also used to for a HasMany relationship, seeing the `data[]` array as well, as I do for the HasOne relationships that a

[2019-08-14 05:03] UpQuark commented on #542
So perusing the JSON API spec at https://jsonapi.org/format/#fetching-relationships-responses-200 says:

[code]
...which is what I'd expect from the above. So I guess I must have a misconfiguration somewhere in the above.

(also here are my startup options for the above examples)

[code]

[2019-08-14 09:12] maurei commented on #542
Thanks for the elaborate feedback!

Indeed, it gets a bit confusing here. Note that in your last two post (I think you're already aware of this), two different endpoints are involved for which the semantics are slightly different:
1.  The fetching resources endpoint ([section in spec](https://jsonapi.org/format/#fetching-resources-responses))
eg. `/price-tiers/1`
2. The fetching relationship endpo

[2019-08-14 15:55] UpQuark commented on #542
@maurei Thanks for the fast and thorough response!

So for context, I initially came across this problem when Ember frontend hooked up to my original (un-trimmed) app seemed to be breaking on the empty `data: []` that was returning for every HasMany relationship.

On reading your response, where you point out that `data: []` is optional in the first place, it occurs to me that maybe the problem th

[2019-08-16 09:03] maurei commented on #542
If you get an empty `data: []` for the has many relationships even though there actually is related data, then this would clearly be a bug. If (optionally) we choose to include relationship data by default, it should be complete, else the field should be left out completely. I would be interested in seeing the exact setup for that if this is what you're experiencing.

Apart from this issue, we did

[2019-08-18 02:33] UpQuark commented on #542
Okay so I stepped through the library code a little bit, through the `getAsync()` method hierarchy. `GetAsync` in the `EntityResourceService`

[code]

Using the above models (a `Plan` which HasMany `PricingTiers`) I noticed that as of passing  `return MapOut(entity);` the entity (a `Plan`) has a null reference to `PricingTiers`. This is why I'm not seeing the `relationships.pricing-tiers.data` nod

[2019-08-20 06:12] andrei-tara opened #546 "Unable to cast object of type 'System.DBNull' to type 'System.DateTime'"
## Description
I have a DateTime field that can be null when calling GET the following error is thrown:
System.InvalidCastException: Unable to cast object of type 'System.DBNull' to type 'System.DateTime'.
         at MySqlConnector.Core.Row.GetDateTime(Int32 ordinal) in C:\projects\mysqlconnector\src\MySqlConnector\Core\Row.cs:line 285

I've also tried adding
[JsonProperty(NullValueHandling = Nul

[2019-08-26 06:44] Kum4r4n opened #547 "How can i Add authentication for Jsonapi"
## Description
I want to add authentication for JSON API,
our project had a relationship with multiple tables
example =>
there are two entity
1> student
2> Teacher

the student Entity has a many-to-many relationship with the teacher Entity
and vice-versa

Student only can view student details But in this case we use =>
student?include=teacher can get the Teachers details also how to prevent includ

[2019-08-26 17:44] unicrus opened #548 "There is no good way to filter by the parent with isnull or isnotnull operators"
## Description

There is no good way to filter by the parent with isnull or isnotnull operators.

If I have a class Child referencing the Parent, both use int as a Key, then I cannot use a filter query like this
`api/children?filter[parent.id]=isnull:`
— it fails to create the equality expression (because you can't compare int and null).

There are 2 bad workarounds for this right now:

1. Add the

[2019-08-26 17:48] unicrus commented on #548
Created a pull request to fix the issue: #549.

[2019-08-27 07:34] wisepotato commented on #548
why do you want to check for isnull on the id? Why not check it on the referencing foreign key?

[2019-08-27 07:35] wisepotato commented on #547
Hi! We support all available authentication schemes.

But do you need authentication (who are you?) compared to authorization(What are you allowed to do) ?

If you mean the latter, we will be integrating that into v4, which is available if you use the alphas. It is also available if you checkout master.

If you want authorization in v3, it is not possible atm.

[2019-08-27 07:37] wisepotato commented on #546
could you show me your full model?

Are you using a non-nullable datetime value?

[2019-08-27 08:47] wayne-o commented on #547
This sounds V interesting - is there any docs around this in the alpha?

On Tue, Aug 27, 2019 at 8:35 AM Harro van der Kroft <
notifications@github.com> wrote:

[2019-08-27 09:04] Kum4r4n commented on #547
@wisepotato
How can I get this alpha ,
Can you give me the Link please

[2019-08-27 09:04] unicrus commented on #548
@wisepotato, you mean the 1st option from the description?
To use a filter as ...?filter[parent] I have to add the [Attr] attribute to the Parent property and it's not what I want — "parent" appears in attributes in the output JSON.

[2019-08-27 09:10] unicrus commented on #548
To be completely clear, here is the class I have
`    public abstract class View : Identifiable<int>
    {
        [Required]
        [Attr]
        public string Name { get; set; }

        [HasMany]
        public IList<View> Children { get; set; }

        [HasOne]
        public View Parent { get; set; }
    }
`

I need to load only top-level items:
`...api/views?include=parent,children&filter

[2019-08-27 09:29] Kum4r4n commented on #547
@wisepotato  can you share any documentation for that

[2019-08-27 09:50] wisepotato commented on #547
Hi, all documentation on v4 is being worked on, together with a demo. My colleague will be finishing up a big bug before we release v4. @maurei could you share your insights on this?

Also, if you look at the tests in master you will see how we use it. We support hooks in which you can hook into `?include`'d items.

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/1d13825a9b0592a6178749f0

[2019-08-27 09:52] wisepotato commented on #547
note: this documentation is not final but it will show you how we intend to use it. So use at your own risk atm.

[2019-08-27 10:19] wayne-o commented on #547
V4 looks really good!

On Tue, Aug 27, 2019 at 10:52 AM Harro van der Kroft <
notifications@github.com> wrote:

[2019-08-27 10:40] ahmadalli opened #550 "DbContext without defining DbSets are not Supported"
## Description

this is my DbSet:

[code]

and I configure each model using

[code]
inside my model.

but when I try to load `PersonController`, 'm getting this error:

## Environment

- JsonApiDotNetCore Version: 3.1.0
- Other Relevant Package Versions:

[2019-08-27 11:02] wisepotato commented on #550
As the error states, you will ned to register it to the resourcegraph https://json-api-dotnet.github.io/JsonApiDotNetCore/usage/resource-graph.html

[2019-08-27 11:03] wisepotato commented on #547
Going to close this as its slated for V4, you can use that to develop further but it wont be finalized until release.

[2019-08-27 11:03] #547 closed

[2019-08-27 11:16] ahmadalli commented on #550
the point is I'm using entity framework discovery method but it doesn't support models built by model builder instead of dbset

[2019-08-27 12:50] wisepotato commented on #550
Ah. That might be true, as we expect there to be a DbSet Available, I don't know if this is an easy fix at the moment. If you have time for investigation you are more than welcome to add a pull request as  this does seem like an OK things to support. I don't have much need for this feature as I explicitly define my models.

If we get more requests in this area we can consider devoting some time to

[2019-08-27 12:54] ahmadalli commented on #550
@wisepotato could you please show me some initial point to investigate the issue?

[2019-08-27 13:27] wisepotato commented on #550
To be honest? Wait a week. We are working on decoupling the JsonApiContext (where you're getting your error) and making it more testable and (hint hint) more extendable for different uses.

You're getting the error here:

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/8cca15a5ba42f8543ae937a2dcc867ee6cd303ff/src/JsonApiDotNetCore/Services/JsonApiContext.cs#L75-L77

But in our version, t

[2019-08-27 13:29] ahmadalli commented on #550
I found it but I'm not sure how can I fix it.

we need an instance of dbContext here:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/ec4e76e51d8b4b0dfcd58d6ce3e993d69c7ecedc/src/JsonApiDotNetCore/Builders/ContextGraphBuilder.cs#L239

then we can change `AddDbContext` to something like this:

[code]

[2019-08-27 13:32] wisepotato commented on #550
I mean i cant validate if this works, but if you're free to add this to master via a pull request, i welcome it.

[2019-08-27 13:33] ahmadalli commented on #550
the problem is I don't know how can I get the instance of `T` in this context. we need access to service provider

[2019-08-27 13:35] ahmadalli commented on #550
P.S. I've added the properties for now but it'd be good if we solved that issue too

[2019-08-28 11:09] maurei commented on #547
Docs are very outdated. You can still use them to get general idea of how they work. But for the most recent syntax: best would be to see a few of the integration tests (JsonApiDotNetCoreExample project)

[2019-08-29 08:32] maurei commented on #542
Thanks for the investigations. I'm leaving this issue open as long as this behaviour has been fixed, but I'm taking that you have a viable work-around for now.

[2019-08-29 09:05] maurei commented on #546
Hi Andrei, thanks for opening an issue.  I'm suspecting this error has to do with your setup.

Note that in C#, the type `DateTime` is a value-type and which means it is non-nullable, but mysql allows for nullable `DATETIME` fields. It looks like your connector is trying to map a nullable database field to a non-nullable C# type, i.e. I think your model should use `DateTime?` in your model.

Looki

[2019-08-29 09:05] #546 closed

[2019-08-29 09:56] maurei commented on #548
Hi @unicrus, thanks for opening up this issue. Filtering by the existence of relationships seems like a very useful instrument and we should support this. I fully agree the workarounds you mentioned are not desired.

I'm not sure however about the semantics you're proposing to implement filtering on (non-)existing relationships
`api/children?filter[parent.id]=isnull`
To me intuitively, the followi

[2019-08-29 10:23] maurei commented on #550
Hi @ahmadalli, thanks for opening up this issue. It seems like a useful thing to support. Like you mentioned, we need to access the service provider to get an instance of the DbContext, but at the time of calling `AddDbContext<T>` the service provider has not yet been build. Some thoughts on this:

1. Possibly we could build an intermediate service provider that we use only here. This needs invest

[2019-08-29 10:29] unicrus commented on #548
The reason is that Entity Framework generates SQL using expression trees. That doesn't throw a NullReference exception even if Parent is null. It's the same even in NHibernate — you can write `items.Where(item => item.Parent.Id == null)` and it will be executed as SQL
[code]
with no issues.

So the query `api/children?filter[parent.id]=isnull:` may only expose some internal stuff related to how OR

[2019-08-29 11:37] maurei commented on #548
Thanks for elaborating on this. What you're saying makes sense to me: `[parent.id]=isnull` is not really exposing anything about JADNC. Rather than that it is just reflecting querying semantics used in the realm of SQL.  As such it makes sense to support `[parent.id]=isnull` for now as `[parent]=isnull` indeed is a lot more work. I'll accept your PR and make new issues for `[parent]=isnull`

Thank

[2019-08-29 11:44] #548 closed

[2019-08-29 11:59] maurei opened #551 "support filtering by (non-)existing relationships"
## Description
In #548 support for filtering by (non)-null to one relationships was added: `/children?filter[parent.id]=isnull`. As discussed in that issue, ideally we would like to allow to filter without having to reference the primary key.

To that end, we want to support filtering by (non)-existing relationships by using something like this:

1.   `/children?filter[parent]=isnull` for to one r

[2019-08-29 14:15] wisepotato commented on #551
an `IEnumerable` can be empty...

I agree, `isempty` is more semantically correct. Any info on how this would be handled in jsonapi?

[2019-08-30 03:36] Kum4r4n commented on #547
can I Authenticate include from IJsonApiContext within the controller?

[2019-08-30 05:53] maurei commented on #547
I dont understand your question

[2019-08-30 07:11] Kum4r4n commented on #547
@maurei
Now I am using JsonApi v3, I want to enable authentication for my project,
in this case, I am using Microsoft identity for that
but problem is I add the [Authorize(Role=" student")] in controller the student able to get the teacher data by include relationship within URLs, How can i prevent from this,

[2019-08-30 07:54] maurei commented on #547
For this you would need to use the Resource Hooks which are introduced in v4.

The implementation would look like something similar to this [example from the docs](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/d6d4a6147de8d915b2491e637d8396639ab933db/docs/usage/resources/hooks.md#simple-authorization-explicitly-affected-resources)

Adjusted to your case, it would look something like th

[2019-08-30 09:22] Kum4r4n commented on #547
I followed this step for intergret JsonApi
https://json-api-dotnet.github.io/#/step-by-step

can you explain where I initialize and how to call from the controller

[2019-08-30 09:23] Kum4r4n commented on #547
Can you guide me the follow of this, with JSON API v3 by one example of code

[2019-08-30 09:29] Kum4r4n commented on #547
_IAuthorizationHelper _auth, what is included within this class

[2019-08-30 09:48] maurei commented on #547
Authorization requires business logic in the service layer of JADNC, and there is no out of the box support for doing this easily in v3.  In v4 Resource Hooks are introduced which allow this. An extensive tutorial on how to implement this in v4 will be released in the near future

[2019-08-30 09:56] unicrus commented on #551
I would say that filtering by parent and by children are different tasks.
Currently, I can't imagine a popular case when you need to find parents without children.

Also, 'isEmpty' and 'hasAny' sound more natural for a collection.

[2019-08-30 11:36] maurei commented on #551
The way I look at it is that they are analogous: one is filtering by the (non-)existence of a to-one relationship and the other is doing the same for to-many relationships. Why do you think that there would inherently be less popular usecases for filtering by to-many relationships?

[2019-08-30 12:34] unicrus commented on #551
From the JADNC point of view the cases are kind of similar. But field types are different: a single object and a collection of objects.

Filtering by the parent is very popular: get the list of subfolders, get posts made by the user, get settings for the project, etc.

Filtering by children is rarer. It may be useful in some data processing or report building tools to find, let's say, jobs that ha

[2019-08-30 14:10] wisepotato commented on #551
@unicrus i can have multiple children, only one child, and multiple parents, and only one parent. It is very similar. It is just not in your use case.

What you consider a parent is just a relationship. If we are to support your use case we are first going to consider a more generic approach so it can be applied to more usescases, therefore helping more people.

I like to filter by children, maybe

[2019-09-05 07:51] phuongvobys opened #552 "Authorization implement"
## Description
Currently, the framework does not have an authorized feature. Consider implement it in next milestone. I'll create a PR for that.
...

## Environment

- JsonApiDotNetCore Version:
- Other Relevant Package Versions:

[2019-09-05 08:33] maurei commented on #552
Thanks for asking about this. A few weeks ago someone asked about this too in #547.

In a nutshell:

* In v4 Resource Hooks have been introduced, which allows easy execution of business logic in the service layer level without having to override it. This allows for a tailored implementation of authorization.
* v4 is not done yet, but you can get it from nuget as a prelease package.
* [Here are the

[2019-09-05 08:33] #552 closed

[2019-09-06 10:42] maurei commented on #501
I'm currently looking into this now. The[ official docs have the following to say](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.0#exception-filters) about the usage of exception filters.

So this suggests it would be a good practice to implement something like @mabead proposes, because with this it targets only the JsonApiDotNetCore actions. On top of that

[2019-09-08 21:02] maurei opened #553 "[RFC] Deprecate support for Resource Entity Separation"
I would like to propose to deprecate the Resource Entity Separation feature. This feature allows different models to be used in the service layer and repository layer. [See this example project](https://github.com/json-api-dotnet/JsonApiDotNetCore/tree/master/src/Examples/ResourceEntitySeparationExample)

I propose to deprecate it because of the following reasons

**1. It is unfinished**
The featu

[2019-09-09 09:33] wisepotato commented on #553
Looking forward to v4 I would imagine a less complex and more robust build is desirable

[2019-09-10 15:03] roblankey commented on #553
Sorry folks, been a little bit since I've monitored this issues here. Thanks for reaching out on LinkedIn to let me know @maurei .

The primary driving factor for the Entity/Resource split is that Entity models are occasionally, if not often, different from Resource models in a service design. It allows a separation of concerns, hidden/remapped components, many-to-many relationship conversation (s

[2019-09-13 12:04] roblankey commented on #553
Sure thing folks. All the use cases that really care about this separation are when you're talking about a difference between your data model and your resource model.

A lot of the newer development community however has one model tier and exposes those throughout using things like shadow properties and ORMs, which outside of small systems can perform more poorly than a properly designed data mode

[2019-09-13 12:54] maurei commented on #553
Hey @roblankey, I'm a little confused by your first examples (the latter for transforming data is clear). Hoping you could clarify a little.

I was wondering if at the time of implementing the `[HasManyThrough]` attribute was already available, and if at the time of writing these examples right now you are aware of this? Basically, what it means is that many-to-many relationships are supported.

I

[2019-09-13 12:59] roblankey commented on #553
That's a good point @maurei. That portion of the E-R split may have been totally superceded by HasManyThrough.

[2019-09-22 13:38] ahmadalli opened #555 "Allow for multiple naming conventions (camelCase vs kebab-case)"
## Description

json:api documentation recommends using camelCase instead of kebab case [here](https://jsonapi.org/recommendations/) and is discussed on https://github.com/json-api/json-api/issues/1255.
Is it possible to change naming convention to camelCase or adding configuration for naming convention?

[2019-09-22 13:42] wisepotato commented on #555
This seems the way to go, with the option to turn on kebab-case if need be

[2019-09-23 07:06] maurei commented on #555
You can define a  newtonsoft `ContractResolver` on `IJsonApiOptions`, see [this example](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/676b654d8f2fde99f1f150abbe52c48496eb1518/src/JsonApiDotNetCore/Configuration/JsonApiOptions.cs#L184).

Let me know if you figure it out

[2019-09-23 07:50] ahmadalli commented on #555
I've changed the ContractResolver using `options.SerializerSettings.ContractResolver = new CamelCaseContractResolver();`

and this is my `CamelCaseResolver`:

[code]

but I'm getting kebab-case result on my api

[2019-09-23 11:50] ahmadalli commented on #555
I've added this nameformatter:

[code]

and I registered it on `Startup.cs` constructor: `JsonApiOptions.ResourceNameFormatter = new CamelCaseResourceNameFormatter();`

and now all of my resources are camelized except for the route names

[2019-09-23 16:18] maurei commented on #555
OK, it seems indeed that this is not properly supported.

I'm currently working on a pretty big rework of the serialization layer where all of this will be solved. It is expected to be merged with the v4 dev branch in a few days. Please hold on for a bit longer until we've made this one available.  Note that it will require you to migrate your application to V4. There is no guide yet with a compre

[2019-09-24 07:14] maurei commented on #555
@ahmadalli

What exactly is the output you're having and what is it you're expecting? Do you mean they're still in kebab-case and you had expected the links to be pascalCase as well?

[2019-09-24 14:52] TonyValenti opened #556 "Need a developer"
Hi All!
I run a small company that makes software for lawyers (I'm the owner and only developer).  I don't have much(any!) experience in .NET core but I'm wanting to convert our legacy ASMX licensing system over to .NET core and I think that json-api-dotnet would be a good solution.

If you're interested in making some cash on a short-term project, please email Tony.Valenti@FasterLaw.com and put "

[2019-09-25 14:17] ahmadalli commented on #555
the routes remain kebab-case but the pagination links will use camelCase resource names which results in 404 error

[2019-09-25 14:35] jaredcnance commented on #555
The routing convention is applied during service registration [here](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/c6762b399bca08712650b1ae2bf4b06d9da957a6/src/JsonApiDotNetCore/Extensions/IServiceCollectionExtensions.cs#L200) by the `DasherizedRoutingConvention`. At one point this was the accepted standard convention for json:api routing. As a quick hack you can disable the convention

[2019-09-26 12:19] maurei commented on #555
I agree. But  I think we should generalise this further by adding the following rules:
1. by default, the relationship names in the body and url (route or query parameters) should match too
2. by default, the attribute names in the body and url (query parameters) should match too

So that would imply the following document with corresponding URLs:
[code]

Additionally, to prevent inconsistent URLs

[2019-09-27 11:59] maurei commented on #553
As it turns out that a (significant) part of the usecases for ER separation are now covered by other parts of the framework (ResourceHooks, HasManyThrough), I think we will remove it for now. Still, having better for separation of concerns by allowing for such split would be a really good feature to re-add in the future, but for now the development capacity is too limited to support it.

[2019-09-27 11:59] #553 closed

[2019-09-29 16:10] #556 closed

[2019-10-01 07:50] maurei opened #559 "Upgrade to .net core 3.0"
As title says

[2019-10-01 12:44] wayne-o opened #560 "Should this work without any DbContext at all?"
## Description

When I try and use this without any DBContext and by providing my own resource service implementations I get this:

[code]
...

## Environment

- JsonApiDotNetCore Version:
- Other Relevant Package Versions:

[2019-10-01 12:45] wayne-o commented on #560
Infact if I provide an empty context just to try and make it happy i get the same error? I have no idea what it is that's not happy

[2019-10-01 13:08] #560 closed

[2019-10-03 09:34] maurei commented on #255
addressed in #558

[2019-10-03 09:34] #255 closed

[2019-10-03 11:45] maurei commented on #253
We're currently reviewing #558 in which `JsonApiContext` is completely removed.

[2019-10-03 13:40] wayne-o commented on #253
I think the idea of Api.NETCore is a really good idea - I have actually
tried to create a version of this framework that doesn't do the full
JSONAPI serialization (for when there is no desire to use that level of
complexity) and while it loses some of the benefits of full JSONAPI it's
definitely very useful

w

On Thu, Oct 3, 2019 at 12:45 PM Maurits Moeys <notifications@github.com>
wrote:

[2019-10-03 14:10] wisepotato commented on #253
You might be very interested in #558, as it makes sure that this sort of decoupling is more available.

[2019-10-03 14:29] maurei commented on #253
@wayne-o we're currently getting pretty close to reaching that level. We're moving towards a framework that still has the constraints that are more or less implied by json:api spec but in which you're completely free to pick any serialization format you like.

Example of such constraint: json:api allows for creation of a resource while simultaneously relating it to a *already existing* resource, b

[2019-10-03 14:33] maurei commented on #253
@wayne-o we're currently getting pretty close to reaching that level. We're moving towards a framework that still has the constraints in the repo/service/controller layers that are more or less implied by json:api spec but in which you're completely free to pick any serialization format you like.

Example of such constraint: json:api allows for creation of a resource while simultaneously relating

[2019-10-03 15:40] wayne-o commented on #253
I think that this will open up the project to a LOT mroe people!!

On Thu, Oct 3, 2019 at 3:33 PM Maurits Moeys <notifications@github.com>
wrote:

[2019-10-09 12:49] wisepotato opened #562 "Rework QueryParameters"
from #558

[2019-10-09 12:49] wisepotato opened #563 "Remove JsonApiContext from `QueryParser`"
From #558

[2019-10-09 12:50] wisepotato opened #564 "Remove bulk operations"
from #558

[2019-10-09 12:52] wisepotato opened #565 "Remove entity resource separation"
From #558 , with information in #553

[2019-10-09 12:58] wisepotato opened #566 "Cleanup tests for v4"
We will be doing something akin to #91

* A better split between `unit`, `acceptance` and `e2e` with a 70, 20, 10 split
* No more hand building  requests, need factories for that
* Clean up naming convention.

[2019-10-09 13:07] wisepotato opened #567 "Read through docs and update (focus on hooks + differences to v3)"
- [ ] sparse field selection docs (included is support)
- [ ] resource definition hide attributes
- [ ] resource hooks
- [ ] all code samples for outdated signatures
- [ ] add query parameter extensibility
- [ ] resource hooks: process [this use-case](https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/623#issuecomment-555098419)
big one:
- [ ] change log / migration guide

[2019-10-09 13:10] wisepotato opened #568 "Consider simplifying constructor signatures in controller/repo/service layer"
Its only needed here:

https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/8570b216c7ede3a7b5f9fc7a4912404a14926df5/src/JsonApiDotNetCore/Controllers/BaseJsonApiController.cs#L158-L160

So.. we might be able to get rid of that.

[2019-10-10 09:50] maurei opened #569 "Separation of concerns ResourceGraph"
Currently there are two reasons why `IResourceGraph` is injected anywhere in the application:

- Retrieving `ContextEntity` instances
- Resolving relationships
	- abstracting away has-many-through stuff
	- resolving inverse relationships.

These two deviating responsibilities can be put behind their own interface:

- IContextEntityProvider
- IRelationshipResolver

The latter could potentially be m

[2019-10-10 09:51] maurei commented on #542
This is fixed in #558

[2019-10-10 09:51] #542 closed

[2019-10-10 09:52] maurei commented on #504
resolved in #558

[2019-10-10 09:52] #504 closed

[2019-10-10 09:52] #253 closed

[2019-10-10 10:01] maurei opened #570 "Consider implementing AsyncEnumerable<T> for paging"
`AsyncEnumerable<T>` was designed to solve problems like returning a paged API response from an API in a more efficient way than currently implemented. See [this blog](https://dev.to/dotnet/what-s-the-big-deal-with-iasyncenumerable-t-in-net-core-3-1eii).

Consider implementing this in JsonApiDotNetCore

[2019-10-10 10:06] maurei commented on #564
Will be put back when
* the core of v4 is stable, and
* there is more development resources available
* json:api team finishes working bulk implementation (see https://github.com/json-api/json-api/issues/1435)

[2019-10-10 10:10] maurei commented on #568
#### Controller layer
 * Remove `ResourceGraph` dependency in controller

#### Service layer
 * Consider having a wrapping service to decrease size of constructors, allowing for easier extensibility
* Consider having internal constructors with signatures that allow for pipeline testing

#### Repo layer
 * Consider having a wrapping service to decrease size of constructors, allowing for easier exte

[2019-10-10 10:21] #440 closed

[2019-10-10 10:22] #372 closed

[2019-10-10 10:22] #366 closed

[2019-10-10 10:26] maurei commented on #331
Outdated

[2019-10-10 10:26] #331 closed

[2019-10-10 10:28] maurei commented on #251
JsonApiContext does no longer exist. #558. This greatly improves testability.

[2019-10-10 10:28] #251 closed

[2019-10-10 10:29] maurei commented on #248
This has been fixed in the new serialization layer. See #558. Specifically, see the `ResponseResourceObjectBuilder` thats that cover this functionality

[2019-10-10 10:29] #248 closed

[2019-10-10 10:30] maurei commented on #244
Interested to know what you learned from this. Closing as no further action required.

[2019-10-10 10:30] #244 closed

[2019-10-10 10:32] #238 closed

[2019-10-10 10:36] maurei commented on #566
see [CreatingDataTests](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/dev-v4/test/JsonApiDotNetCoreExampleTests/Acceptance/Spec/CreatingDataTests.cs) in dev-v4 for example of how tests can currently be more lean

[2019-10-10 11:22] maurei opened #572 "Update variable / class naming conventions"
Proposal is to normalise several class names and property names.

Related to #317

- [ ]  `RelationshipAttribute.DependentType` and `.PrincipicalType` is not adequate. Replace with something like `LeftType` vs `RightType` or  `HostType` vs `RelatedType`.
- [ ] rename `ContextEntity` to `ResourceContext`, so that it is consistent with `ResourceDefinition` and `ResourceHooks`
- [ ] `ContextEntity.En

[2019-10-10 17:30] #564 closed

[2019-10-10 17:31] #565 closed

[2019-10-10 17:55] maurei commented on #521
See #558

[2019-10-10 17:55] #521 closed

[2019-10-10 17:56] #479 closed

[2019-10-10 18:01] #385 closed

[2019-10-10 18:02] maurei commented on #144
Introduced in #558

[2019-10-10 18:02] #144 closed

[2019-10-10 18:05] maurei commented on #291
Currenrly

[2019-10-15 12:02] N1ghtStorm opened #575 "Problem with custom object changing while overriding UpdateAsync"
## Description

I have a model, that has it's DbSet in DbContext
[code]
I have a JsonApiController, where PatchAsync method is overriden:

[code]

The problem is:
This operation
[code]
doesnt affect state of "human" object, we even can return base method like this:
[code]
or
[code]
the final changes in database will be taken from initial state of entity(that was taken exactly from request)

}

##

[2019-10-15 12:33] maurei commented on #575
This problem is described in https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/536 and also describes a work around.

This issue will be tackled in v4

[2019-10-15 12:55] #575 closed

[2019-10-15 12:55] N1ghtStorm commented on #575
This problem is described in #536 and also describes a work around.

[2019-10-15 13:41] maurei commented on #474
This has been solved with the introduction of resource hooks in v4. The proper way would now be to implement the `OnReturn` or `AfterRead` for the `Transaction` resource.

[code]

This hook will be fired in both cases:
- /persons?include=transactions
- /transactions

For more information, [see the docs for resource hooks](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/master/docs/usage/

[2019-10-15 13:41] #474 closed

[2019-10-15 13:50] wisepotato commented on #404
@maurei  status on this?

[2019-10-15 14:04] #562 closed

[2019-10-15 15:19] emouawad commented on #559
Not sure if this is related:

`System.Reflection.ReflectionTypeLoadException: 'Unable to load one or more of the requested types.
Method 'CommitAsync' in type 'JsonApiDotNetCore.Extensions.SafeTransactionProxy' from assembly 'JsonApiDotNetCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.'`

on

          app.UseEndpoints(endpoints =>
            {

[2019-10-15 16:36] house-md opened #576 "Future of this package?"
I would like to ask about future of this package. As I see from all the changes to the code and tests, it seems that this package completely lost it's original direction and purpose which was to be framework for easier implementition of JSON:API standard. Are there any reasons for these changes?

It seems that this package became a complete mess since version 3.1.0 and absolutely incompatible. Lik

[2019-10-16 08:40] wisepotato commented on #559
Working on this atm, will post back with updates.

[2019-10-16 10:17] maurei commented on #576
Thank you for expressing your interests and concerns about the direction of JADNC.
<br/>

In general, the goal of the framework is to become more production ready. For v4 this primarily means
 1. to introduce proper testability of apps that are built on JADNC (apps that are not testable are not production ready, also see #251)
 2. to be able to implement authorization without having to entirely ov

[2019-10-16 11:13] maurei opened #577 "Response when updating attributes of resource not conform spec"
The [specs](https://jsonapi.org/format/#crud-updating-responses) for updating a resource state:

JsonApiDotNetCore does not comply with the piece in **bold text**. Currently, after an update the response for the update pipeline **always** returns a full representation of the resource on the server.

In the default implementation of the pipelines, how a resource will change will always be fully spe

[2019-10-16 12:24] maurei opened #578 "Response when updating relationship of resource not conform spec"
This issue is analogous to #577 but for relationships instead of attributes.

the part in **bold** is currently not properly implemented.

The associated repository method does not return anything:

[code]

This is fine for the default implementation. But if, as in #577, a developer has business logic that affects the relationships in a way different than as specified by the request, a response **

[2019-10-16 12:29] wayne-o commented on #576
Awesome response and FWIW I think the future direction of this project is
very promising.

On Wed, Oct 16, 2019 at 11:17 AM Maurits Moeys <notifications@github.com>
wrote:

[2019-10-16 13:09] house-md commented on #576
Thank you for reply. Don't get me wrong I always praise every attempt to provide support or growth to publicly accessible code. I just think that these massive changes in short time without backward compatibility could just hurt community of developer using this framework.

I can understand that sometimes it's crucial for future to change even basic things. Improved testability, simplification for

[2019-10-16 16:43] maurei commented on #534
Fixed in #558

[2019-10-16 16:43] #534 closed

[2019-10-17 09:58] maurei commented on #555
New insight. This is relevant: https://github.com/json-api/json-api/issues/1091#issuecomment-543078469. For sparse field selection, if we stick to `field[$TYPE]=$ATTRIBUTE` as proposed in my previous comment, we would stuck with the constraint as described by the OP in the link above.

We currently already support [sparse field selection on relationships](https://github.com/json-api-dotnet/JsonApi

[2019-10-17 14:37] #537 closed

[2019-10-17 14:43] wisepotato opened #582 "release v4"
This is an issue that contains a list of all things that have been updated for v4.

# Fixes

# Features

* Hooks
* Allow for the setting of naming convention (kebab versus camelcase)

# Deprecations

[2019-10-17 15:09] #555 closed

[2019-10-17 15:19] maurei commented on #550
#581 introduces the usage of an intermediate service provider in the `IServiceCollectionExtensions` we needed in this issue.

[2019-10-17 16:13] maurei opened #583 "Improve support nested sparse field selection"
This is the recommendation from the official json:api spec with respect to sparse field selection:

[code]

There is a serious limitation with this. This is described in https://github.com/json-api/json-api/issues/1091. If `article` contains two relationships to `people`, eg a reviewer and an author, then we would not be able to do a unique field selection for either one of them. For that we would

[2019-10-21 08:35] #576 closed

[2019-10-21 09:24] maurei commented on #576
In principle you are completely right @house-md about everything. In theory everything should be done to maintain backward compatibility, but in practice however, there is always the consideration of how to distribute resources. A key consideration here is that the majority of the features that have been removed/altered were experimental and not documented (some not even fully functioning), and be

[2019-10-21 09:39] maurei opened #585 "[RFC] Releasing a v3.3 for easier migration to v4"
A genuine concern [was raised in this issue](https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/576) about the difficulty to migrate from v3.2 to v4.0 This issue is a tracking issue to investigate the demand for a v3.3 which would introduce a phased and easier migration to v4.

Please leave a thumb up (or down) to express your needs.

#### Considerations
The release of v4.0.0 introduces a

[2019-10-21 09:40] maurei commented on #576
Any remaining comments can be expressed here #585

[2019-10-21 11:39] house-md commented on #585
I understand everything you mentioned in #576 and I am sorry I didn't have time to reply faster. Also I can understand temporary removal of some functionalities like Bulk operations in which are only extensions for JSON:API and maybe will be officially included in version 1.2.
However I think for example EntityResource Separation should be preserved. I know a few projects which are using this appr

[2019-10-21 14:05] maurei commented on #585
Thank you for getting back at this! I would be very interested to learn more about the precise usecase for ERS in those project. I would appreciate if you could elaborate on that (preferably in #553 which I will then reopen). It will help us rearrange our priorities and possibly put that back high on the list.

[2019-10-22 11:47] maurei commented on #397
This is now possible by doing
[code]

[2019-10-22 11:47] #397 closed

[2019-10-22 14:28] maurei commented on #569
Extensive report of how concerns of resource graph have been separated can be found in the corresponding PR #586

[2019-10-22 14:28] #569 closed

[2019-10-22 14:28] #583 closed

[2019-10-22 14:30] maurei commented on #501
Custom exception handling is now supported, see #586

[2019-10-22 14:30] #501 closed

[2019-10-22 15:30] #572 closed

[2019-10-22 15:31] maurei commented on #317
All but the proposal for `IQueryBuilder` have been processed in #589. We think that the repository layer is more broad than the responsibility as implied by the name `IQueryBuilder`

[2019-10-22 15:31] #317 closed

[2019-10-22 16:02] maurei commented on #568
We could consider to do something like this.

Instead of
[code]

[code]

This would allow for a more extensibility and future features without having to introduce breaking changes

[2019-10-23 11:20] #568 closed

[2019-10-23 14:14] adu89 opened #596 "Dot not run json:api registered json serialization when content-type header is null."
## Description
I have a situation where I would like to serialize json responses for NON json:api endpoints in a different way than for that of json:api endpoints.

As it stands now, the json:api library registers an IOutputFormatter that is called for json serialization when the content type is null or it equals the "application/vnd.api+json" content type.

https://github.com/json-api-dotnet/Json

[2019-10-23 14:23] adu89 commented on #596
Although the following changes to JsonApiOutputFormatter.cs may not be the perfect solution, it worked for us:

[code]

Thoughts?

[2019-10-23 14:45] maurei commented on #596
Absolutely. I'm not sure why we're also returning json:api responses when the content type is null rather than only `application/vnd.api+json`.

Apart from that, if you're hitting your non-json:api endpoints with a different content type like eg the standard `application/json`, the `CanWriteResult` should return false which should be enough to achieve the effect you desire -- no need to fork the l

[2019-10-23 16:04] adu89 commented on #596
Yea exactly, we have another IOutputFormatter registered that handles default cases.

The thing is, we have several different front end applications consuming this back end service. They do not always send the "application/json" content type. All these apps, at the moment, use the endpoints that should NOT return the serialization as "application/vnd.api+json". So for these cases we would like to

[2019-10-23 16:22] maurei commented on #596
Alright, that make sense. Still, I think you can configure v3.1 to do with you want without having to fork the library. That would work as follows: call the `AddJsonApi()` overload that allows you to pass along a `mvcBuilder`:

[code]
Configure JADNC like so:
[code]
If you register `YourCustomOverrideFormatter` after you call `AddJsonApi()`, your formatter will be executed before the default JADNC

[2019-10-23 16:28] maurei commented on #596
Let me know if the above work around works for you.

That's just treating the symptoms of the issue, though. Regarding the cause: I'm not sure why json:api content is returned for `null` content type header values. I would have to investigate. Probably this can be changed to just `application/vnd.api+json`.

Looking at the bigger picture: it would be good if a user can register a `IOutputFormatter

[2019-10-28 11:46] sebafelis opened #598 "Inheritance support"
## Description

Entity Framework Core [Inheritance]([url](ttps://docs.microsoft.com/en-us/ef/core/modeling/inheritance)) is not fully support now. It’s support only if for each inherited type is created separeate `DBSet `in `DbContext`. But if inheritance is define by FluentAPI then we can’t use this because Resource name is presently inseparable with type property in returning JSON.

## Solution

[2019-10-29 16:54] maurei commented on #598
Can you provide us with a code example of the involved models and dbcontext you're trying to use with JsonApiDotNetCore?

[2019-10-29 16:55] #559 closed

[2019-10-29 17:26] sebafelis commented on #598
Here is an example:
[code]
[code]
[code]

In this case is not possible to Post a new row of type `RssBlog` by JsonApiDotNetCore.

[2019-10-29 18:41] maurei commented on #598
Can you share your `AddJsonApi( .. )` call from your startup?

[2019-10-29 20:09] sebafelis commented on #598
[code]

[2019-10-30 16:27] maurei opened #599 "No DefaultPageSize leads to division by zero error"
## Description
Using a `Startup` without defining a `IJsonApiOptions.DefaultPagesize` leads to a `System.DivideByZeroException` upon a get request.

[2019-10-30 17:32] maurei opened #602 "ResourceGraphBuilder prioritises `DbSet` name over type name"
In the following example

[code]

`MyResource` should be exposed as `my-resources`, not as `some-different-db-set-names`. This is more consistent because central to JADNC pipelines are models, not `DbSet`s.

[2019-10-30 21:31] #602 closed

[2019-10-31 13:53] bart-degreed opened #604 "Bug: D/I container selects the wrong class"
## Description
I have an EF model with two entities: User and Content. Created controllers etc according to getting-started documentation.

I wanted to override filtering for Content, so created custom classes:
[code]
Registered them as described at https://json-api-dotnet.github.io/#/layer-overview:
[code]
Now getting a list of content works as expected, but getting a list of users returns:
[code

[2019-11-01 09:45] #599 closed

[2019-11-01 09:49] maurei commented on #604
@bart-degreed there's nothing clearly wrong with the code you're sharing. If you can share your ApiFrameworkTryout2 repository or a similar small reproduction repository I can look into it further.

[2019-11-01 10:44] bart-degreed commented on #604
I have created a minimal repro solution: [ApiDependencyBugRepro.zip](https://github.com/json-api-dotnet/JsonApiDotNetCore/files/3797545/ApiDependencyBugRepro.zip)

See code in Startup.cs:
[code]
the first block throws, while the second (`showError == false`) works as expected. Moving my custom registrations above or below this code fragment does not seem to make a difference.

[2019-11-01 12:51] bart-degreed opened #605 "IncludeTotalRecordCount executes query twice"
## Description
Setting `IncludeTotalRecordCount` to `true` executes `SELECT COUNT(*)` two times before the actual data is fetched.

Example:
[code]
writes to Debug output:
[code]

## Environment
- JsonApiDotNetCore Version: 4.0.0-alpha3
- Other Relevant Package Versions: ASP.NET Core 2.2

For full repro, see demo project at https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/#604#issuecomm

[2019-11-01 12:54] maurei commented on #605
Will investigate, thanks

[2019-11-01 14:15] maurei commented on #604
I ran your code and tried `true` and `false` for `showError` while triggered the `/api/content` route. In neither cases I can reproduce the error you reported. The constructor of both custom services are triggered.

Can you double check your repro

[2019-11-01 14:55] bart-degreed opened #606 "Typo: LoaDatabaseValues"
## Description
In class `JsonApiOptions`, there is a property named `LoaDatabaseValues`, which seems incorrect to me.

## Environment
- JsonApiDotNetCore Version: develop branch at 5733fe5c37074b9bbfde284c916ea368a5a0fe6e (today)

[2019-11-01 14:56] maurei commented on #604
The problem is an issue with the auto discovery not correctly determining to which resource your custom service belongs to. It has already been fixed in v4 in https://github.com/json-api-dotnet/JsonApiDotNetCore/pull/591. You can check out the latest version of the master branch for this fix, I'm planning on doing an alpha release next week.

(There are a bunch of breaking changes among which an u

[2019-11-01 14:56] #604 closed

[2019-11-01 14:58] maurei commented on #606
Good thing you're on develop branch. That's indeed a typo: free to make a PR on this, if not I'll do it upcoming week :)

[2019-11-01 15:11] bart-degreed commented on #606
I'll leave this one for you.

[2019-11-01 15:13] bart-degreed commented on #604
Thanks for looking into this.

[2019-11-01 15:34] maurei commented on #606
Fixed

[2019-11-01 15:34] #606 closed

[2019-11-01 15:53] maurei commented on #605
I cannot reproduce this in v4. The repository and service layer have had significant changes and looks like this has been fixed along the way. If you manage to reproduce this on `develop` or `master` branch please let me know by reopening this issue. Cheers

[2019-11-01 15:53] #605 closed

[2019-11-01 16:08] maurei commented on #598
I have reproduced the issue and am working on it :-)

[2019-11-01 16:37] #598 closed

[2019-11-01 18:29] bart-degreed commented on #605
I can confirm this does not repro in `develop`.

[2019-11-02 14:50] maurei opened #611 "Improve usability RequestSerializer"
The `SetAttributesToSerialize` function takes an expression to select attributes to serialize in the request document:
[code]
And similar for selection of relationship fields. Currently the serializer then resolves the actual `AttrAttributes` and `RelationshipAttributes` using the resource graph.

There are two problems with this setup

- When the list of attributes/relationships is only known at

[2019-11-03 23:50] crgolden opened #614 "Make SaveChanges call configurable"
## Description
Right now, `SaveChangesAsync` is being called on every `CreateAsync`, `UpdateAsync`, and `DeleteAsync` call. As such, these methods actually do two different things:
1. Set the `EntityState` on the `EntityEntry` to `Added`, `Modified`, or `Deleted`.
2. Persist the new state to the store.

Proposal:

1. Create a `public virtual async Task<int> SaveChangesAsync(TResource entity)` meth

[2019-11-04 07:40] maurei commented on #614
Thanks for opening up an issue and your feedback @crgolden

I have been considering to add such `SaveChangesAsync` to separate the two concerns you mentioned. However the one thing I am unsure about is the extent to which we would still be abstracting away the EF Core API with additional methods like these. An important purpose of the repository layer is abstracting away whatever ORM/data layer is

[2019-11-04 08:20] crgolden commented on #614
Thanks for the response.

I agree with you in that regard. As far as eager loading with `Include` - are there other ORMs that provide that? I have only noticed it with EntityFramework.

I think the best approach would be to add bulk operations. Using the [EFCore.BulkExtensions](https://github.com/borisdj/EFCore.BulkExtensions) or the [MongoDB C# driver](http://mongodb.github.io/mongo-csharp-driver

[2019-11-04 08:20] #614 closed

[2019-11-04 08:45] maurei commented on #614
I'm not sure if other ORMs provide clearly defined APIs to sideload data like EF Core does: probably not all of them. But even if they don't, one could still implement the `Include` API of the JADNC repository by eg (naively) loading the table/document of the related data and constructing the included data in-memory. I.e. semantically I feel like an `Include` can always be fulfilled, but I might b

[2019-11-04 16:33] #611 closed

[2019-11-05 04:14] crgolden opened #615 "Need guidance for resource hooks"
## Description
I have been trying to get Resource Hooks working in v4.0.0-alpha3. I have followed the steps in the docs, but the hook is never hit.

The only way I have actually gotten it to work is to add an explicit call to `AddScoped<IResourceHookContainer<WeatherForecast>, WeatherForecastDefinition>()`, then inject the `IResourceHookContainer<WeatherForecast>` directly into the service. But th

[2019-11-05 04:15] crgolden commented on #614
As of now, I haven't been able to figure out how to keep the Authorization working. As you can imagine, that is a big problem in any production-level application... I did notice that this package bypasses it completely, and suggests using Resource Hooks instead. So I've been trying to use v4 for that feature.

But so far I haven't been able to get the Resource Hooks working properly, either. I mad

[2019-11-05 08:13] maurei commented on #614
I'm unsure how the [json:api bulk extension](http://springbot.github.io/json-api/extensions/bulk/) is helpful to solving the authorization problem. Either way, I'll look into that issue right now

[2019-11-05 08:29] maurei commented on #615
You were very close. The hooks you defined weren't executed because your `WeatherForecastDefinition` wasn't registered with the DI container. Add the following:
[code]

I realise that this piece of information is hidden away in the docs. Not even the resource hooks docs but the ResourceDefinition docs that is referred to by the resource docs [all the way at the bottom of that page](https://json-ap

[2019-11-05 15:12] crgolden commented on #615
@maurei Thanks for the response!

Your solution worked for the simple example I shared. Then I spent several hours banging my head against the wall trying to figure out why I still couldn't get it to work in an existing application.

Finally, I started recreating the existing application entirely from scratch to pinpoint the issue. It turns out that, as soon as the entities are moved to a separate

[2019-11-05 16:29] wisepotato commented on #615
Thanks for your interest in JADNC, i'm going to check what's going on in your repo.

[2019-11-05 17:19] maurei commented on #615
@crgolden Thanks for reporting this. There is a problem with detecting which hooks have been implemented for a particular resource when that resource lives in another assembly, see `HooksDiscovery.cs`

I'm going to look into it in more detail tomorrow, probably this will require a fix which we will release in -alpha4.

On a side-note: I'd recommend you to check out to the `develop` branch and use

[2019-11-06 09:54] wisepotato commented on #615
or, @maurei  checks it. Because he's 2fast4me

[2019-11-06 10:43] maurei commented on #615
The detection issue has been resolved in #617. This fix will be released in alpha4 today or tomorrow.

Apart from that, there was also another issue with your setup: the usage of entity-resource split. Resource hooks does not work with that. ER split will be removed in alpha4 (see https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/553). [I have submitted a PR](https://github.com/crgolden/

[2019-11-06 10:43] #615 closed

[2019-11-07 12:31] maurei commented on #596
Removing the `string.IsNullOrEmpty(contentTypeString)` would not be [conform spec](https://jsonapi.org/format/#content-negotiation): GET requests do not need to have that content type.

[2019-11-07 12:31] #596 closed

[2019-11-07 12:49] crgolden commented on #615
@maurei Thanks for taking the time to help me with that issue. I really appreciate it.

Do you guys have a timeline for the v4 release? Using dev branches and alpha versions is all fine and good in my personal GitHub repos, but I can't use them in the corporate environment where I'm really trying to implement this package.

[2019-11-07 13:09] maurei commented on #615
@crgolden I'm waiting for #618 to be approved after which I will immediately release v4.0.0-alpha4 which you can use in your corporate projects. After that no more alpha releases, we'll be aiming for the full release of v4 (unless new immediate bugs show up). But for that I want to completely integrate it our own corporate projects first to beta (battle) test it, and write a migration guide for pe

[2019-11-08 14:16] crgolden opened #620 "NotFoundResult throws NullReferenceException"
## Description
When an id is not found on a `GetAsync(id)` request, the controller properly returns a `NotFoundResult`. However, this seems to break after that and what is actually returned to the client is a `NullReferenceException`.

Most concerning from a security standpoint is that _**the stack trace is returned.**_

Reference: [Improper Error Handling](https://www.owasp.org/index.php/Improper

[2019-11-09 20:47] crgolden commented on #620
I see where there is a method `DisableDetailedErrorsIfProduction` that is disabling these errors if the "ASPNETCORE_ENVIRONMENT" environment variable equals "Production", but not everyone's production environments set that variable to the same value.

The method is setting the `DisableErrorStackTraces` and `DisableErrorSource` properties on the `JsonApiOptions` class, but when I try to set the sam

[2019-11-11 10:00] maurei commented on #620
Hi @crgolden, thanks again for opening up an issue. Your feedback has been pretty helpful.

There's a few things going on here

#### Stacktraces in error results
It indeed seems that the settings for including stack traces in the error outputs is communicated throughout the framework using static fields on the singleton `IJsonApiOptions` service. I am not a great fan of that. As you're suggesting,

[2019-11-11 10:06] maurei commented on #620
#### NullReferenceException

Thanks for pointing that out. I've identified the issue and working on a fix. Note that [in your test](https://github.com/crgolden/JsonApiDotNetCoreIssue/blob/41000950ba2617bc31d5c996e2ea72be5223c662/IntTests/UnitTest1.cs#L61) you're expecting a payload, the [json:api spec](https://jsonapi.org/format/#fetching-resources-responses-404) spec doesn't necessarily require t

[2019-11-11 11:02] maurei commented on #620
Alpha4 has been released and should be available in NuGet as a prerelease any minute

[2019-11-11 12:41] crgolden commented on #620
@maurei Thanks so much for your explanations - they are very helpful.

I'll have to wait on trying out the new version. My workplace has not put .NET Core 3.0 into its internal CI pipelines yet. I realize that in order to use features like MVC, ASP.NET Core 3.0 is all-or-nothing now due to the Shared Framework and discontinuation of individual NuGet packages (like Mvc.Core). It may have been impra

[2019-11-11 12:58] #582 closed

[2019-11-11 13:03] maurei commented on #620
@crgolden  Indeed, it wasn't feasible to introduce such backward compatibility.

You can work around the null reference exception you encountered by relying on conventional routing, i.e. don't use `[ApiController][Route(" ... ")][DisableRoutingConvention]`. If you really need use that, you should be able to fix the null reference exception by overriding the methods of your controller that call `No

[2019-11-11 13:12] crgolden commented on #620
Ahh... ok. Thanks for the tip.

The reason I'm using the `[DisableRoutingConvention]` attribute is I'm relying on [versioning via the URL path](https://github.com/microsoft/aspnet-api-versioning/wiki/Versioning-via-the-URL-Path) and my controller-level `Route` attributes with the "api/v{version:apiVersion}/[controller]" template seem to be ignored otherwise.

I have tried setting the namespace on

[2019-11-11 13:21] maurei commented on #620
Interesting, I didn't know about the features addressed in that reference.  This means you're using multiple versions for a

 That currently won't work: the value of namespace in `JsonApiOptions` is added to the controller template "as is".  This is something we should look into, but won't be fixed for v3.1.

In your case

[2019-11-11 13:31] maurei commented on #620
Interesting, I didn't know about the features addressed in that reference.  This means you're currently using multiple versions for a particular route, right?

That currently won't work: the value of namespace in `JsonApiOptions` is added to the controller template "as is" and there is no interaction with `ApiVersionAttribute`. This is something we should look into, but won't be fixed for v3.1.

I

[2019-11-13 16:13] bart-degreed opened #622 "Bug: first/prev links not rendered on second page"
## Description
When using paging, the `first` and `prev` links are not rendered on the second page.

Example:
First page is at URL /api/books (A), which contains a link to next page: /api/books/?page[number]=1 (B). That page contains a link to its next page: /api/books/?page[number]=2 (C).

Observed behavior:
Page C contains top-level links for `first` and `prev`, but they are missing on page B.

[2019-11-13 19:08] wayne-o commented on #559
Would this have made it into 3.1.0?

[2019-11-13 19:31] maurei commented on #559
No, the .NET core 3.0 upgrade has been introduced in prerelease v4.0.0-alpha4

[2019-11-14 11:48] maurei commented on #622
Thanks for reporting this. I will be looking into it in the beginning of next week.

[2019-11-15 23:58] bart-degreed opened #623 "Feature request: improved hook support"
## Description
The past weeks I have been trying to implement several features of our existing API using JsonApiDotNetCore. Starting out with custom services and repositories, I am now trying to make more use of hooks. One thing that I'm stuck at is the hook support for reading lists.

Consider the next method in `DefaultResourceService`:
[code]

The first thing to notice is that whenever you star

[2019-11-18 09:55] maurei commented on #623
Hi @bart-degreed, thanks again for your

Your first request is an interesting point of discussion. Your concern about server-side paging being skipped completely is valid, but I don't think allowing the query to be executed in the hook itself is the way to address this issue.

The main concern here is that `IHookExecutor` not only fires the hooks associated to the main resource of the request (eg

[2019-11-18 10:01] maurei commented on #623
As to your last two points,

and

Thanks for pointing those out. The documentation we are aware about and is still work in progress (#567). We aim to fully update the docs before releasing v4. The issue with that generic implementation of `ResourceDefinition<T>` looks like a bug: I'll check that out in detail and report back shortly.

[2019-11-18 10:05] maurei commented on #585
Bump @house-md, would appreciate if you could elaborate on that

[2019-11-18 16:36] maurei commented on #623
I looked into the generic resource definition and realised this is by design: the auto-discovery searches for either
- bound implementations of `ResourceDefinition<>`,
- or bound implementations of open generic subclasses of `ResourceDefinition<>`(which is why `public class VideoResourceHookContainer : TypeEmbeddedIdResourceHookContainer<Video> { }` is recognised.)

Just declaring `TypeEmbeddedIdR

[2019-11-19 08:38] maurei commented on #622
Note that the index is 1-based, which means that the value for `Next` was also generated wrongly: it displayed page number 1 under `Next` when having request the first page.

#625 fixes this, and will release a new alpha version by the end of today. Thanks for reporting!

[2019-11-19 09:35] bart-degreed commented on #585
One reason to use Resource Entity Separation I can think of is having multiple resource types that are stored in the same table. I've tried different approaches to map this using EF Core, but ran in all sorts of bugs. The scenario is poorly supported.

So I have now switched to using database views, but those are not update-able so I need to implement create/update/delete logic manually. Being abl

[2019-11-19 10:10] maurei commented on #585
Could you elaborate more on that use-case and when it isn't supported exactly? We currently map two resources to one table using [EF Core inheritance](https://docs.microsoft.com/en-us/ef/core/modeling/inheritance) ([see related e2e tests](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/4fcd5c0bf9cc6ccd92605116c04aaad598852dc3/src/Examples/JsonApiDotNetCoreExample/Data/AppDbContext.cs#L27

[2019-11-19 11:03] bart-degreed commented on #585
It is not about inheritance. And it concerns an existing database whose schema I cannot change. I've tried the advice at https://github.com/aspnet/EntityFrameworkCore/issues/17820, which worked after making all columns optional..... until I tried to access a related table and ran into another bug: EF insists on using different primary keys for both tables. Using fluent mapping with generic and non

[2019-11-19 11:05] bart-degreed commented on #622
Thanks for the fix!

[2019-11-19 11:05] #622 closed

[2019-11-19 12:14] maurei commented on #585
I haven't had to work with EF Core table splitting yet, but sounds like the problem is mostly EF Core related than JADNC related?

I did manage to to use JADNC as a work-around for [EF Core not supporting splitting entities over multiple tables](https://github.com/aspnet/EntityFrameworkCore/issues/620). It involved a lot of custom repository and service implementations. Possibly JADNC could be use

[2019-11-19 12:29] bart-degreed commented on #623
I'd like to be able to register different bindings per resource type, like:
[code]
Maybe the auto-discovery should search for `IResourceHookContainer<TResource>`, similar to reposities and services, instead of `ResourceDefinition`?

In my use case, I wanted to update resource IDs based on other property values during GET. We encode IDs to prevent caller guessing values. That works (via OnReturn),

[2019-11-19 12:38] bart-degreed commented on #585
Yes, it is. In general, being able to map between entities and resources sounds like a nice fallback capability for cases like mine, EF mapping limitations apply. But it may be too complex to implement/support that in JADNC for non-trivial cases.

[2019-11-21 11:06] crgolden commented on #620
@maurei Thanks for the response.

I did have a chance to try out the v4.0.0-alpha4 release. There were a surprising number of breaking changes. I have been able to work through most of them, but I would like to share a few observations:

1. Entity/Resource splits: I have read the numerous threads in your repo about why you removed this, but it was one of the better aspects of the library. As you k

[2019-11-21 13:27] bart-degreed opened #626 "Bug: Broken casing of JSON attributes"
## Description
After updating my local clone to https://github.com/json-api-dotnet/JsonApiDotNetCore/pull/619, attribute casing in JSON responses has changed.

Before:
[code]

[code]

[2019-11-21 13:34] bart-degreed opened #627 "Support for query parameters on nested/deep resource endpoints"
## Description
For example, the URL:

`https://localhost:5001/api/users/123/orders?fields[orders]=purchase-date`

returns all attributes of orders, instead of only purchase-date.

[2019-11-21 13:38] bart-degreed opened #628 "Bug: Fetch include in deep URL passes query validation, but is not applied"
## Description
For example, the URL:

`https://localhost:5001/api/users/123/orders?include=orders.country`

returns all attributes of orders, but it does add an `included` section that contains the related country.

[2019-11-21 13:44] bart-degreed opened #629 "Bug: Paging does not work on deep URLs"
## Description
For example, the URL:

`https://localhost:5001/api/users/123/orders?page[size]=3`

returns all orders in database for this user, instead of only the first 3.

[2019-11-21 14:47] maurei opened #630 "Inclusion on /main/{id}/related route does not work"
Example

[code]

It will display an error that `favoriteFood` is not a valid relationship of `article`, but it should be including that inclusion chain on the author

[2019-11-21 14:54] maurei commented on #626
In v4 camelCase is the standard casing convention, by which we're following new json:api recommendations, see https://github.com/json-api-dotnet/JsonApiDotNetCore/pull/618.  You can switch back to kebab-case by setting the `KebabCaseFormatter` as the implementation of `IResourceNameFormatter`:

[code]

See tests related to `KebabCaseApplicationFactory.cs` in `JsonApiDotNetCoreExampleTests`.

Is th

[2019-11-21 14:54] #626 closed

[2019-11-21 14:58] maurei commented on #628
Just stumbled upon this myself too, will address this very soon

[2019-11-21 14:59] maurei commented on #630
duplicate of #628

[2019-11-21 14:59] #630 closed

[2019-11-21 15:05] bart-degreed commented on #626
Thanks, this works for me.

`provider-code` has an explicit name in its `AttrAttribute`.

[2019-11-21 15:17] bart-degreed opened #631 "Breaking change: null data returned when resource not found"
## Description
Earlier, when a resource does not exist, a 404 with an empty response body was returned. After fetch of latest master (with v4 merged in), I am now getting 404 with the next body:

Request URL: https://localhost/api/users/123

Response body:
[code]

Note the `self` link is wrong too: it misses the identity.

Traced this down to https://github.com/json-api-dotnet/JsonApiDotNetCore/bl

[2019-11-21 15:26] maurei commented on #631
[the current response body is conform spec](https://jsonapi.org/format/#fetching-resources-responses-404) (except for the self link). Relevant passage:

It is the result of the rework of the serialization layer: it serializes `null` as `null` instead of throwing a 404. I personally prefer using 404s for non-existing routes as opposed to non-existing resources.

Nevertheless the 404 was that was th

[2019-11-21 15:27] maurei commented on #631
I will make a separate issue for the bad self link

[2019-11-21 15:28] maurei opened #632 "Self link not correct when requesting single resource"
see https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/631#issuecomment-557135308

[2019-11-21 15:29] maurei commented on #627
I think the malfunctioning of paging, inclusion and sparse field (and probably the rest of the query parameters too) for nested resources have a common origin. Thanks for pointing this out

[2019-11-21 15:53] bart-degreed commented on #631
Perhaps I am missing something, but the spec reads:
[code]

Both are not happening. The spec refers to a 200 with null data -or- a 404. This issue is about 404 comined with null data, which is not what the spec describes.

A bit below:

[code]

What is currently implemented is not error details, but a success response body, combined with a http status code that represents an error.

[2019-11-21 16:43] maurei commented on #631
Ah -- my bad. I misread and thought it was returning a 200 with that error body. I will investigate and fix this next week.

[2019-11-21 17:17] maurei commented on #623
This is still possible by just registering resource definitions explicitly:

[code]

This type of setup is just not auto-discoverable currently, because when multiple unbound types like `CustomHookContainer<>` and `TypeEmbeddedIdResourceHookContainer<>` are declared, it is impossible for the discovery to know that `User` and `Group` should be used with the former, and `Video` and `Book` should be

[2019-11-21 17:42] bart-degreed opened #633 "Question: Best way to implement tenant filtering"
## Description
I would like to apply generic tenant filtering, depending on specific properties on resources. I think this can be done using a custom repository:

[code]

The downside of this approach is that I need to register the repository for all resource types (OrderResource, SubscriptionResource, ContentResource, ...).

Is there a better way? I'd like to solve this in a more general way that

[2019-11-21 18:05] maurei commented on #633
You could switch the default repository used with your custom one for all resources by doing:

[code]

Does this solve your problem?

[2019-11-22 10:05] bart-degreed commented on #633
Yes, this helps. Thanks a lot!

[2019-11-22 10:05] #633 closed

[2019-11-22 12:31] maurei commented on #629
Covered in #627

[2019-11-22 12:31] #629 closed

[2019-11-22 13:02] maurei commented on #627
I looked into this and unfortunately this is all pretty complicated

### Include
This was easy to support and is addressed in #634

### Filter
Doing a filter on nested resource routes essentially the same as performing a [EF Core filtered include which is not possible](https://github.com/aspnet/EntityFrameworkCore/issues/1833). Eg the following request
[code]
would be translated to the currently n

[2019-11-22 13:09] maurei commented on #628
fixed in #634

[2019-11-22 13:09] #628 closed

[2019-11-22 14:20] maurei commented on #620
Thanks for the in depth comment. I will reply to everything in detail, but some things I need to first consider carefully.

But starting with a few things for which the answer is more straightforward:

In v3.1 there existed two data types that represented a `json:api` response: : `Documents` for list responses (multiple `List<ResourceObject>`) and `Document` (singular) for a single `ResourceObject

[2019-11-23 11:40] crgolden commented on #620
@maurei Thanks so much for your response. I want to start off by saying I think the library is great, and I appreciate all the work you guys are doing. If I didn't feel that way, I wouldn't take the time to share these thoughts.

I appreciate the clarification on the difference between `Document.SingleData` and `Document.ManyData`. That explains it well for me.

As for the client serialization - t

[2019-11-23 22:41] mcopur opened #635 "Is this library proper to use for MongoDB?"
## Description

I want to ask a question.I want to implement JSON:Api complaint service library for my project and I am using MongoDB as database. Is this library proper to use for MongoDB?

[2019-11-24 12:20] maurei commented on #635
There currently is no off the shelve support for MongoDB.Driver, although with the current extensibility of JADNC I believe one should be able to register a mongodb implementation of the [repository layer](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/master/src/JsonApiDotNetCore/Data/IResourceRepository.cs).

In the future I'm planning on abstracting away the current default repositor

[2019-11-24 12:20] #635 closed

[2019-11-25 09:30] maurei commented on #620
Hi @crgolden, thanks again for the extensive feedback. Generally speaking: all of your feedback (of both your earlier and last post) is valid. Some points require further investigation, other elements could be incorporated straight away.

Before addressing each issue individually there is a comment to be made related to most of your points all together. Commenting on why many of these issues haven

[2019-11-25 10:35] bart-degreed commented on #627
First of all, thanks for putting effort in this. I can image these things are hard to get right.

But I'm surprised (and concerned) to find out these nested scenarios were never supported. This is what I expected the library to excel in: auto-generating smart SQL queries over relationships in various directions with unconstrained depth, based on the model/graph. Not having these features makes me

[2019-11-25 10:37] bart-degreed commented on #623
I tried that (see first post). It does not work.

[2019-11-25 10:48] maurei commented on #620
#### 1. Entity/Resource splits (❓)
Having ER splits as a use-case for versioned APIs is an interesting one and I would like to further investigate if ER splits is the only / the best way to go about this when using JANDC. What we need to investigate primarily is the complexity it will (re-)introduce in the codebase.

Note that in principle I am a strong proponent of being able to separate concerns

[2019-11-25 11:28] maurei commented on #623
That is weird, this should work. I'm using something similar in my projects. Are you calling these explicit registrations *after* your invocation of `AddJsonApi( .. )`? Because if you do it before, I think auto-discovery will override your custom registration

(on a side note: autodiscovery should probably check if there already exists a service registration before adding/override an existing one)

[2019-11-25 11:40] maurei commented on #623
As to your other comments regarding `IQueryable` hooks I agree that having such hooks would be greatly beneficial. I would have to think and write out specs of such feature before being able to have a good discussion on the conceptual level.

Some things that pop up in my mind are:
- Usage of such hooks should be agnostic to the internals of the repository layer. With this we might run into proble

[2019-11-25 14:24] crgolden commented on #620
@maurei Thanks for the terrific responses. I really appreciate you taking the time to address each issue I raised. And I agree that it would be a good idea to separate the split the thread. As far as I'm concerned, this particular issue (the null reference bug) has been addressed, so I will re-close it.

I would like to make one more general observation, however. I have seen multiple posts express

[2019-11-25 14:24] #620 closed

[2019-11-25 15:15] maurei commented on #620
I think that is a legitimate observation and would be willing to prioritise development resources to this cause. At the same time at my workspace the demand for such feature is limited and for that reason it would beneficial for the framework if people were to be involved that have an in-depth overview of what precisely is required from JADNC to properly support versioning of APIs.

That being sai

[2019-11-25 15:42] maurei commented on #627
Currently the library identifies `Article` as the primary data source for that request, which means the outer query is on `Article` instead of `Tag` (I do not know what the creators design consideration was to choose `Article instead of `Tag`). That means that the current query would look like

[code]
Which is a bit more tedious to build with expression trees, and rapidly becomes unmanageable filt

[2019-11-26 09:56] wisepotato commented on #631
working on this.

[2019-11-26 10:17] maurei commented on #631
Yep, that's correct. Elaborating on your last point

Would be good if an error object was returned.

Pointers:
- [this is where the error object is currently being formatted](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/a801d958d9640365f459e096b802ad5d90db33fa/src/JsonApiDotNetCore/Formatters/JsonApiWriter.cs#L48)
- [this is (I think) the origin of the 404 that is currently being thro

[2019-11-26 12:19] bart-degreed commented on #631
I think this is not compliant to the spec:
[code]

[2019-11-26 12:49] maurei commented on #631
The same line in the spec states an exception to that rule:

Where I believe the *as described above* refers to the following passage:

I.e. my reading of the specs is that when a route (i.e. relationship) exists (`articles/1/author`) but there is no associated data, it's okay to return `null` as the primary data with HTTP 200.

But IMO all of this is pretty ambiguous :/ This rule + exception is e

[2019-11-26 13:51] wisepotato commented on #620
@crgolden Chris, thanks for your effort to indicate problems with JADNC, a lot of points are valid.

[2019-11-26 14:48] bart-degreed commented on #631
I believe this applies solely to related data, as stated in the Note block below it and illustrated by the example.

In short: `http://example.com/articles/1/author` may return 200 when article 1 exists, but does not have an associated author.

Then, the spec resumes:

The "except when... described above" refers to the author example. In all other cases, 404 must be used.

So I believe it is wrong

[2019-11-26 15:12] wisepotato commented on #631
This is in-line with what @maurei  have discussed. However, we also discussed that the 200 should apply for when user id =1, exists and a GET request is sent to:

[code]
Books being a to-many resource, but this is **not** described in the spec, but we made a judgement call.

We are in agreement, but the spec is ambiguous on the multiple resources front.

[2019-11-27 13:30] fdlane opened #637 "Question: which layer to implement audit fields"
## Description
Currently I am implementing audit fields in the service layer.  However, the values are only persisted to the db if the api user includes the properties in the request.

   `entity.EditedBy = _currentUser.Username;` is not applied if the user does not include the property in the `Patch` request.

How do I get the audit fields to always be persisted?

[code]

## Environment

- JsonAp

[2019-11-27 14:25] wisepotato opened #638 "JsonApiException namespace issue"
The current `JsonApiException` is situated in the `JsonApiDotNetCore.Internal` namespace, it should be in the `JsonApiDotNetCore.Internal.Exceptions`, as we have a folder for that.

As discussed in #620, where we discussed that namespaces are a bit of a mess at the moment, we should take some time to correct this.

[2019-11-27 15:11] wisepotato opened #639 "Add ability to fetch IDS in"
Give back the following:
* The current baseId
* the related ID

Both in string form, for now.

[2019-11-27 15:21] bart-degreed commented on #631
Thanks for the clarification.

[2019-11-27 22:08] mjartz commented on #623
Hi All,
Yes i totally agree with Bart above. I'm working on a POC using JADNC 3.1.0 and have just started migrating it to the latest 4.0.0 alpha. Basic gets were working fine with paging out of the box as I had set the options.EnableResourceHooks to false. Without doing anything other than changing that option to true, all of a sudden a number of gets on large tables were trying to retrieve every

[2019-11-27 23:44] mjartz opened #641 "Paging Control"
## Description

In v3.1.0 I was able to set a global default page size to 20 in statup.cs which was desirable for most of my resources, however there were a few resources that I didn't want that default to apply to as I wanted every record returned by default, but still wanted paging if a page size was supplied by the client. I was able to achieve this in the controller for the given resource by c

[2019-11-28 10:23] bart-degreed commented on #623
I tried to create a small repro solution based on the latest bits and was unable to reproduce the issue I ran into. I no longer have the original sources, because it turned out that hooks are completely useless to me in their current state. If I run into this again in the future I'll create a separate issue.

[2019-11-28 13:35] #639 closed

[2019-11-28 14:08] maurei commented on #641
Hi @mjartz, thanks for the clear feedback. Indeed, `DefaultPageSize` was exposed before and I wasn't sure why that was, but this appears to be a valid use-case for that.

The proposed attribute in #217 is nice, but currently not very high up my todo-list. I processed your request in #641 :)

Cheers

[2019-11-28 14:32] #641 closed

[2019-11-28 14:51] wisepotato commented on #631
hi #640  was just merged, which is the preliminary to #636. We're working on it.

[2019-11-28 14:59] maurei commented on #637
Hi @fdlane, this indeed is a bit less easy than one would expect. Internally the repository accesses the a list of all targeted attributes to know which ones to update:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/1ac9d9caaefd87ae417f98faa1e0d541ae1a9ca4/src/JsonApiDotNetCore/Data/DefaultResourceRepository.cs#L190
That means `AttrAttribute` instance associated to your `EditedBy` and `

[2019-11-28 16:19] bart-degreed opened #643 "Question: backwards paging"
## Description
Recently `IPageService.Backwards` was introduced. As I'm implementing my own paging (via Elasticsearch), I wonder what this is intended for and how it can be used.

It would allow for a URL like `/api/users?page[number]=-5`, but what does that mean? My first thought was to interpret it as "5 pages back from the current position". But the absolute page offset is 1, unless specified e

[2019-11-28 16:31] bart-degreed commented on #631
#640 breaks our code. It throws at: https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/d9dd76069a35bfbd8bb180ff83213014d2601b10/src/JsonApiDotNetCore/Middleware/CurrentRequestMiddleware.cs#L119

This is because we encode our IDs, to prevent callers guessing IDs. And in some cases, they contain additional information needed to fetch the right data. So our requests look like:

[code]

For thi

[2019-11-28 17:04] bart-degreed commented on #631
Looking at the changes, the trim/split/findindex url parsing feels a bit brittle to me. Wouldn't it be an option to use the route values, like it is done at:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/d9dd76069a35bfbd8bb180ff83213014d2601b10/src/JsonApiDotNetCore/Middleware/CurrentRequestMiddleware.cs#L251?

For example, the debugger shows me for the request path:
[code]

these rout

[2019-11-28 17:24] wisepotato commented on #631
Thank you, apparently the test cases were not comprehensive, the `RequestMiddleware` was not tested before this PR, so this was bound to happen. Could you make a new issue? That would help, for when I get to it tomorrow

[2019-11-28 17:26] wisepotato commented on #643
AFAIK this fails, and if it does, it would be "n-5"th page. @maurei  ?

[2019-11-28 23:14] mjartz commented on #472
Hi, I am also experiencing issues with this scenario.

Most of my resources contain basic validations that are checked in the BaseJsonApiController Post and Patch methods when the option to ValidateModelState is true. As above, if I patch a subset of fields and there are other fields that are flagged as required, I am getting a validation error stating as such, even though I am not modifying those

[2019-11-29 09:39] bart-degreed opened #644 "Bug: crash on 404 when resource ID type does not match query string"
## Description
See https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/631#issuecomment-559562320

Looking at the changes, the trim/split/findindex url parsing feels a bit brittle to me. Wouldn't it be an option to use the route values, like it is done at:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/d9dd76069a35bfbd8bb180ff83213014d2601b10/src/JsonApiDotNetCore/Middleware/Cur

[2019-11-29 09:39] bart-degreed commented on #644
/cc @wisepotato

[2019-11-29 09:52] maurei commented on #643
Backward paging is supported. Effectively it means pagination starts at the end of a result set and moves "backwards" from there, as opposed from moving forward at the beginning of a result set.

Example: Assume `n` resources with `id` 1 till `n` which by default are returned all at once ordered by `id` , i.e. schematically: ` { 1 }, { 2 } ...  { n -1 }, { n }`.

"Normal" forward paging would yiel

[2019-11-29 09:52] #643 closed

[2019-11-29 10:00] maurei commented on #631
Having obfuscated ID's is a good use-case. A way forward could be to not throw in the current request middleware but just store the route data as is.

[2019-11-29 10:03] maurei commented on #643
[See also these functional tests](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/d9dd76069a35bfbd8bb180ff83213014d2601b10/test/JsonApiDotNetCoreExampleTests/Acceptance/Spec/PagingTests.cs#L34)

[2019-11-29 11:28] bart-degreed commented on #643
Interesting. So it actually reverses the order of all individual items, instead of specifying an offset that is  relative from the last page number. Thanks for the thorough explanation!

[2019-11-29 12:01] bart-degreed commented on #643
So this is identical to sorting in reverse order, right?

[2019-11-29 12:25] bart-degreed opened #645 "Wrong assertion in unit test"
## Description
I was reading through the tests and noticed the following.

See:
https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/b5207ec64a1d5a6e7daca934e0ce778e906d36e0/test/JsonApiDotNetCoreExampleTests/Acceptance/TodoItemsControllerTests.cs#L296-L297

The loop variable `todoItemResult` is never used.

[2019-11-29 15:00] bart-degreed opened #646 "Bug: Invalid top-level self link"
## Description
When requesting the url `https://localhost/api/v3/users/123`, a response is returned with top-level self link `https://localhost/api/v3/users`.

From the JSON:API spec:
[code]

This may be related to #632, but in this case it involves an existing resource.

[2019-11-29 15:11] wisepotato commented on #644
WOrking on this at the moment, found some weird things. I shouldn't code late at night or early in the morning. I added a relationshipId which should never be set. I'm refactoring the `CurrentRequestMiddleware` and the adjoining tests to use `_routeValues`.

Sorry for the inconvenience. Probably a fix incoming either today or monday.

[2019-11-29 15:39] fdlane commented on #637
This was a great help and we will be moving to alpha4 soon.  Thank you!

My base class based on #536

[code]

[2019-11-29 15:40] #637 closed

[2019-11-29 15:40] fdlane commented on #637
Thanks for the help.

[2019-11-29 18:18] bart-degreed commented on #644
No worries, we all have days like that ;)

[2019-11-30 12:22] #645 closed

[2019-12-03 15:20] CrispyBaguette opened #648 "Adding custom methods to controllers"
Hello, I have a question.

I am currently porting parts of an existing API to this framework. One of the functionalities I need to replicate is the ability to export data in Excel format. It's currently accessed using a route that looks something like that: `api/<Resource>/{id}/export`.

Would it be possible to add a method to handle this route to a `JsonApiController`, or do I need to implement i

[2019-12-04 11:38] bart-degreed opened #649 "Unused relationship property"
## Description
`RelationshipAttribute` has constructor parameter `string mappedBy`, which is assigned to property `EntityPropertyName`. That property is never used. This may be a bug. But if the property is unneeded, I think it should be removed (along with the parameter) for clarity.

## Environment
latest master branch

[2019-12-04 12:03] bart-degreed opened #650 "Feature request: publicly expose AttrAttribute.PropertyInfo getter"
## Description
The resource graph builder performs traversal of relations to resolve the matching `PropertyInfo` instance for filters like `?filter[user.id]=1`. It follows the resource.User property and points to its .Id property. I need access to that property in order to implement deep searching using Elasticsearch. Aside from the duplication, it does not seem easy/possible to re-implement that

[2019-12-04 14:13] wisepotato commented on #648
We do this in our own internal API as well. You need to create a controller anyway and you can just add another route/method. It works like a normal controller.

[2019-12-04 15:24] bart-degreed commented on #650
Another use case is that I'd like to be able to put custom `System.Attribute`s on resource properties. Having access to `PropertyInfo` makes it easy to read them.

[2019-12-06 13:42] #648 closed

[2019-12-07 23:01] guillemsola opened #652 "How to include nested EF entities in include"
## Description

I'm using AutoMapper as I expose through a `Resource` information that I take from several classes that require EF navigation. See `src.EntityTypeNameType.NameType.Code` in the mapping that I use..

[code]

What happens is that with the `DefaultEntityRepository` I see only the base include is included unless I force it.

My idea is to override the `IQueryable<Entity> Include(...)`

[2019-12-08 16:13] sebafelis commented on #598
I have checked the `alpha 4` version now. It is a bit better (the type is no longer associated with the resource name), but it is still not possible to achieve the result which I want to. I have prepared an example that (I hope so) illustrates what I want to achieve. The code is available in [here](https://github.com/sebafelis/JsonApiDotNetCoreInheritanceExample).
In my project I need one controll

[2019-12-09 13:56] bart-degreed commented on #652
I'm looking for the exact same thing!

I need additional navigation properties to be loaded unconditionally because they are flattened in the JSON output. And then, depending on what is included in the query string, I need to also load them for related entities.

For now, I'm using something like this in my repositories:

[code]

[2019-12-09 14:05] bart-degreed opened #653 "Workaround for broken build"
## Description
Now that the .NET Core 3.1 NuGet assemblies have been published, the build breaks. I was able to workaround that by setting the 3.* version markers in Directory.Build.props to 3.0.

Hope this helps.

[2019-12-09 18:58] guillemsola commented on #652
@bart-degreed interesting your approach.

I see you are including them at get level which I guess means it those are queried always that a `User` property is included.

FYR I'm including them only when an include parameter is present `public override IQueryable<Entity> Include(IQueryable<Entity> entities, string relationshipName)`

Probably it will be good to mention this is the doc as how the fra

[2019-12-10 13:31] wisepotato opened #654 "FilterQueryContext naming"
A `FilterQueryContext` currently has a `FilterQuery` Inside of it. So far so good.

This `FilterQuery` also has an `Attribute` property, which would make sense because usually filters are defined on attributes. BUT what if they are not? Let's say I have a object with 3 attributes; `firstName`, `tussenVoegsel` and `lastName`. All of these concatenated (with certain rules) would make a full name and

[2019-12-10 14:37] bart-degreed commented on #652
I have both conditional and unconditional. See the `DeepIncludeUser` property, which reads from the query string inclusion service.

[2019-12-11 06:33] martinmike2 opened #655 "Invalid Patch request body format required (most likely user error)"
## Description
Either I am doing something incorrectly (likely), or there is an inconsistency with PATCH request required format (unlikely).  I also realize that I am operating with an alpha version, and as such things might be goofy.

I am having a few issues, but the salient issue for this post is that I can't get a PATCH request to result in a deserialized type with the format specified in the

[2019-12-11 09:22] wisepotato commented on #655
are you sure you're also adding the `application/vnd.api+json` value for the `Content-Type` header.

[2019-12-11 09:23] wisepotato commented on #655
if so, if you can make a test that simulates the issue, we can start work on it very quickly.

[2019-12-11 14:51] wisepotato opened #656 "Allow user flexibility in authentication/authorization middleware options"
https://stackoverflow.com/questions/58089827/asp-net-core-authentication-broken-after-upgrade-to-3-0

We need to execute `app.UseAuthentication()` and `app.UseAuthorization()` in between `UseRouting` and `UseEndpoints`. Will investigate.

[2019-12-17 12:08] bart-degreed commented on #644
@wisepotato I've been working from a detached head since this was introduced. Now that more of my colleagues are going to work on my prototype and I'm hoping to contribute PRs to this repo in the near future, this starts to get inconvenient.

Can you maybe revert this commit until the proper solution is available?

[2019-12-17 16:36] bart-degreed opened #657 "Feature request: support resources with injected DbContext"
## Description
Getting a resource by ID with sparse fieldsets fails when that resource has a constructor to inject the DbContext, as described here: https://docs.microsoft.com/en-us/ef/core/modeling/constructors.

Example:
[code]

This fails because `IQueryableExtensions.CallGenericSelectMethod` (and a few other places) assumes the entity has a parameterless constructor, causing an exception to be

[2019-12-17 16:54] bart-degreed commented on #657
This also fails when trying to delete a resource, due to the usage of:
[code]

in DefaultResourceService.

[2019-12-18 12:22] wisepotato commented on #644
I getcha, but will work on this tomorrow.

[2019-12-18 13:32] bart-degreed commented on #627
I've been thinking about this some more and did some experiments. I discovered that my expectations on relationships of unconstrained depth were based on wrong assumptions and me not understanding the full story.

I found that relationship requests only go one level deep at most. So there is no such thing as `/users/1/orders/2/lines`. And there does not need to be, because it means the same as `/o

[2019-12-18 14:17] bart-degreed commented on #650
@maurei @wisepotato @jaredcnance

Can anyone with merge permissions on JADNC approve for me to start working on this?

[2019-12-20 09:40] N1ghtStorm opened #658 "isImmutable attribute and PostRequests"
## Description
Hi, i have .net core 3.1 project with JsonApiDotNetCore Version 4.0.0-alpha4 installed

I have a model:
[code]
When i try to send POST request to create an entity, i got an error:

fail: JsonApiDotNetCore.Formatters.JsonApiReader[0]
      An error occurred while de-serializing the payload
System.InvalidOperationException: Attribute channelTypeId is immutable and therefore cannot be

[2019-12-20 13:05] bart-degreed opened #659 "Bug: Filter passes query validation, but the filter is not applied"
## Description
Consider the request:

[code]
This request passes query validation, but the filter is not applied. It returns all collaborators. This is likely caused by EF Core not supporting filtered includes. In contrast, the next request:
[code]
returns the next error message:
[code]

which is helpful. I think the fix would be to return the same error message in this case, instead of silently i

[2019-12-23 10:22] wisepotato opened #660 "Custom resource name is not being honoured /RFC"
# Issue

Currently when you add a `Resource(..)` attribute to a resource in the `DbContext` as such:

[code]
The name `SuperNiceModels` (the property name) is being used to create an URL and type identifier. The following identifier is used because of that: `superNiceModels`. What is the `weird-NaMiNg` identifier actually being used for?

# Solutions

Two way to approach this:

## First Version

I

[2019-12-23 10:26] maurei commented on #660
A detailed description of the issue you're trying to resolve is missing here, please elaborate a bit on that. Currently other people will not be able to follow this RFC

[2019-12-23 10:40] maurei commented on #657
That's an interesting feature of EF Core feature that I hadn't seen yet. I think it would be important to investigate if not assuming parameterless constructors will make it lead to JADNC being more tightly coupled with EF Core, because I feel such "EF Core parameter injection" is very EF-specific. But at the same time, having constructors with parameters in general to set read-only properties for

[2019-12-23 10:41] maurei commented on #656
Can you elaborate a bit on this? What is the status on this?

[2019-12-23 10:47] maurei commented on #658
You're setting `isImmutable` to true which means that attribute **can not** be updated/set by a client.  That is what you're trying to do in your example request, hence the error.  This is as intended.

Let me know if expected different behaviour of some sort.

[2019-12-23 10:47] #658 closed

[2019-12-23 10:48] maurei commented on #655
I would expect this to be an issue with the content type, indeed. Any update on this?

[2019-12-23 10:49] maurei commented on #653
Thank you! We should upgrade JADNC to .net core 3.1 for v4 as that is the LTS release

[2019-12-23 10:49] #653 closed

[2019-12-23 10:55] maurei commented on #650
Apologies for the late reply: I've been ill past 8 days and in general low on development resources.

I see no objections. I think in the future we should move away from storing all this metadata in `AttrAttribute` but have a centralized meta object (like EF cores metadata) to store all such information. That would allow us to build a separate, probably fluent API for configuring models without ha

[2019-12-23 10:57] maurei commented on #627
Such redirect feature sounds like a very interesting feature to add. Feel free to hit me up on our gitter channel if you would like to have a more direct communication line with me to address questions about JADNC internals

[2019-12-23 10:58] maurei commented on #644
Got a few things to deliver before the end of the year, but I will prioritise this right after.

[2019-12-23 12:09] maurei commented on #660
So, for every resource, two things need to be calculated: (1) the type field value ( the `{type: ...}` bit ) and (2) the URL of the resource.

This is not true. Let's see how these are calculated right now. Enumeration is in order of priority.

**Type field value for a resource**:
1. Using `ResourceAttribute` this can be customized, in which case the provided value is taken without further process

[2019-12-23 13:22] wisepotato commented on #660
After consultation with @maurei  we came to the conclusion that we have multiple ways of doing this.

## Solution 1
 meta class buildder
[code]
This is great long term, allowing us a central location to store configuration for the 'meta' part of the application.

## Solution 2
Add the URL part to the `ResourceGraphBuilder`,
[code]

we went with this ,as it is easy to implement, and is a great prec

[2019-12-23 15:56] wisepotato commented on #644
This is not yet closed.

[2019-12-23 18:03] maurei commented on #644
Whoops, that was unintended

[2019-12-24 09:09] maurei commented on #660
With respect to the urlIdentifier part of the approach, I've been giving it a second thought.
In JADNC v3.1 the url part was generated based on the controller:

[code]

Note that this is just a .NET Core off-the-shelve feature. The only thing that JADNC did was to apply a casing convention (.net cores default PascalCase to kebab-case). (Also note that `ResourceAttribute` never affected the url par

[2019-12-24 10:46] N1ghtStorm commented on #655
The problem really exists when you dont write "id" section in request(it was possible in 3 version):

![image](https://user-images.githubusercontent.com/43716547/71409622-59442280-2653-11ea-8da4-d7af14c9b491.png)

When field "id" is present in the request and is not 0 the problem dissapears
Ofc i use application/vnd.api+json value for the Content-Type

[2019-12-28 01:05] ClintGood opened #661 "Separation of JsonApi serialization/deserialization and asp.net core"
I couldn't see anything related to this. Hopefully I'm not out of line here...
...
It would be helpful to have the code handling the serialization/deserialization of Json:api in a separate .net standard library.

That way, the model, and deserialization could be reused in other, not .net core projects.

[2019-12-29 11:59] wisepotato commented on #661
Good point! We have already thought about this. First steps have been made with a few previous PRs, but this is very much something we are working on.

[2020-01-06 10:40] bart-degreed commented on #644
Thanks, my issue is fixed by #651.

As a side effect, it also fixes a bug where the namespace part is missing when rendering URLs in links on getting a list of resources, which I had not noticed earlier.

Example: GET api/v3/articles/

Before:
[code]

After
[code]

[2020-01-06 10:40] #644 closed

[2020-01-06 13:12] bart-degreed commented on #650
I hope you're feeling better by now. I've created #662 for this.

[2020-01-09 13:47] #650 closed

[2020-01-13 19:07] bjornharrtell opened #664 "Support System.Text.Json"
With System.Text.Json gaining popularity it would be good if JsonApiDotNetCore can natively work with both it and Newtonsoft.Json. One important case is that the former is used in npgsql efcore (see http://www.npgsql.org/efcore/mapping/json.html#jsondocument-dom-mapping).

[2020-01-16 20:07] rachael-ross commented on #463
@jaredcnance @maurei Has there been any progress on this at this point? If not, is it on your roadmap?

[2020-01-20 10:37] bart-degreed commented on #627
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/plan#filtered-include

[2020-01-20 21:20] jeff-becker-projekt202 opened #666 "Allow classes which inherit from DefaultResourceRepository more control of SaveChangesAsync"
## Description
Feature Request: Add methods in DefaultResourceRepository so that derived classes have access to the DBContext and an opportunity to intercept calls to _context.SaveChangesAsync() in CreateAsync, UpdateAsync, UpdateRelationshipsAsync, DeleteAsync.

Use Case: I have a fairly complex order-entry model. Any time any part of the hierarchy is modified I need to load the aggregate root an

[2020-01-20 22:16] jeff-becker-projekt202 commented on #570
Is this in reference to IResourceReadRepository.PageAsync and DefaultResourceService.ApplyPageQueryAsync?

[2020-01-22 12:04] bart-degreed opened #668 "Failing unit tests"
## Description
When I run `dotnet test` on my machine with the docker image, I get about 167 errors. Today I investigated what is going on and traced down the cause of this. For reasons unknown to me, the tests in `NoEntityFrameworkTests` execute prior to most other tests that use entity framework.

`NoEntityFrameworkTests` creates a table named `TodoItems` in PostgreSQL with **9** columns, based

[2020-01-22 12:05] bart-degreed commented on #668
/cc @maurei This is what I stumbled upon in the gitter channel earlier.

[2020-01-22 14:29] bart-degreed commented on #659
I was looking into fixing this, but unfortunately the error is raised from within the query string parsing logic. Since I'm actually using the nested filtering construct for Elasticsearch-based resources (non-Entity Framework Core), I'll leave the bug in for now.

[2020-01-22 16:50] Lobosque commented on #656
@bjornharrtell would you please provide an example of how to pass custom Authentication and Authorization as per your Pull Request?

[2020-01-23 01:02] Lobosque opened #671 "Relations being validated on POST"
## Description
I am trying to POST an `enterprise` resource. while posting it, I need to associate it to a `partner`:

[code]

And these are the models:
[code]
I am getting the following return:
[code]

While debugging, I found that the partner attributes are being validated, and of course not passing since I am not sending any value:
[code]
I expect that while Posting, I am just associating the e

[2020-01-24 10:33] bart-degreed opened #673 "Feature request: max page size and number"
## Description
For our current API to adopt JADNC (using database tables that contain millions of rows), we need the capability to constrain the maximum page size. Combined with client-based rate limiting, this protects us from callers issuing requests for potentially enormous responses, resulting in timeouts and/or database slowdowns on our side.

And given there are performance issues with pagin

[2020-01-24 11:08] bart-degreed commented on #463
Possible related to https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/627#issuecomment-557523219.

[2020-01-24 16:34] bart-degreed commented on #656
@Lobosque In your `Startup.cs`:
[code]

[2020-01-25 14:31] fdlane opened #676 "Question: Upgrading to v4.0.0-alpha4 and Authentication"
## Description
I am trying to upgrade to `v4.0.0-alpha4`  and my project has authentication.

This was working in 3.x but I am getting the following error.

Thank you for your help.

[code]
Here is my configure method that was working with 3.x

[code]

...

## Environment

- JsonApiDotNetCore Version: `4.0.0-alpha4`
- Other Relevant Package Versions:
  * `netcoreapp3.1`
  * `Microsoft.AspNetCore.A

[2020-01-25 15:07] fdlane commented on #676
Just realized this might be fixed with #665

[2020-02-06 01:23] rachael-ross commented on #652
I've run across a scenario where I need the same capabililty as described above.

[2020-02-06 13:47] bart-degreed opened #678 "Can I help?"
Hi @jaredcnance, @maurei and @wisepotato,

I’m a big fan of the JADNC framework you have developed and our company is starting to use it as a framework for our own APIs. I noticed lately that there was reduced activity in the repository and I wanted to reach out if I could help out as a contributor. I think I have a good grasp on your vision for the framework — see my PRs —  and would love to inve

[2020-02-06 16:55] fdlane commented on #678
I am also a big fan. The framework is working so well our Ember Data projects. How can we help?

[2020-02-07 15:21] jaredcnance commented on #678
I haven't had the time to continue working on this project and passed the torch to  @maurei, @wisepotato and a few others. I'm not up to speed on the current status of the project. So, I'll first give them a chance to respond.

[2020-02-07 20:25] jeff-becker-projekt202 commented on #678
I'd definitely love to jump in and tackle a couple of the open issues in addition to my own wants. I'm just not sure if there's any plans for them specifically.

[2020-02-10 16:02] Stefanu83 commented on #678
FYI, due to circumstances it may take a bit longer for @maurei to respond. @wisepotato  just started a new job so I don't know if he has time at the moment to respond. But the project is actively worked on by both.

[2020-02-10 21:20] wisepotato commented on #678
I don't have time at the moment, but am tracking the contents of this repo as I still like it very much. So expect some prs from me in some time.

[2020-02-11 12:35] bart-degreed commented on #678
Is there anything I can do to become a member of the "json-api-dotnet" team? Would love to work on some of the improvements for the framework in collaboration and sign off with the team.

[2020-02-11 16:46] maurei commented on #678
Hi people. I have been distracted from JADNC for the past weeks but I definitely have the biggest intentions to keep this project rolling. I am happy to see people are reaching to help out as the workload was starting to exceed what I could handle as a one-man team. I will be more actively monitoring this repo again from now and will guide people in solving issues. I also hope to be finishing the

[2020-02-11 18:03] maurei commented on #676
Indeed, duplicate of #665. Will be addressing this there. Nevertheless thanks for your input!

[2020-02-11 18:03] #676 closed

[2020-02-11 21:45] bjornharrtell commented on #678
Also liking this project alot and see myself long term using/contributing to it.

[2020-02-11 21:54] #668 closed

[2020-02-11 22:47] #649 closed

[2020-02-11 23:38] #646 closed

[2020-02-12 01:27] maurei commented on #627
Oh jeez, that's interesting. We'll have to do a lot of refactoring and improvements once this lands

[2020-02-12 01:30] maurei commented on #664
Right now the serialization sort of heavily relies on Newtonsoft.Json annotation internally. We could investigate what it takes to decouple this. Apart from the performance improvements, what is a usecase for using System.Text.Json rather than Newtonsoft?

Would one of the usecases be relying on just one json library instead of both ?

[2020-02-12 01:31] maurei commented on #570
Yep. Off the top of my head it would probably mean that we would need a controller returning `AsyncEnumerable<T>`, but all of these needs some investigation

[2020-02-12 01:34] #632 closed

[2020-02-12 01:45] maurei commented on #652
In v4, the internals of inclusion have changed a bit which should make custom inclusion easier. To adjust *which* relationships should be included for a given pipeline, it is probably easiest to override the `ApplyInclude` method [in the service layer](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/efc1ab7a369a50dfe67a967829a9010113e2b30f/src/JsonApiDotNetCore/Services/DefaultResourceSe

[2020-02-12 01:45] maurei commented on #652
I could be of more help given a more concrete example

[2020-02-12 01:49] maurei commented on #655
If I remember correctly we changed the "id" member to be required as it required by the spec. Nevertheless the error should be more clear when when this occurs, it shouldn't just fall back on  a reply with regular json output content

[2020-02-12 01:52] maurei commented on #656
@Lobosque we're doing some changes in the PR and the example provided in the PR won't be functional in the master branch (see related PR #665, expecting to merge tomorrow)

[2020-02-12 02:10] maurei commented on #666
Hi @jeff-becker-projekt202, sorry for the delayed response.

In theory we could expose more direct control of SaveChangesAsync, but I'm wondering how doing that would fit in the bigger picture of a default boilerplate implementation of the repository layer. In such implementation we have attempted to abstract away EF Core API and with that the overhead of having to call methods like SaveChanges. I

[2020-02-12 02:14] maurei commented on #671
Hi @Lobosque. If I'm understanding correctly you're trying to use create a resource and relate it to an already existing resource [this part of the json:api spec](https://jsonapi.org/format/#crud-creating), but the usage of .NET Core's `[Required]` attributes is messing up the pipeline?

[2020-02-12 02:20] maurei commented on #673
Such feature would be a great addition in the context of improving the production-readiness of JADNC. Yet it seems like it will be a pretty significant contribution, probably it would be best to come forth with a detailed implementation proposal/specification to align our thoughts before diving into the messy work. Feel free to hit me up on gitter with respect to this

[2020-02-12 02:24] maurei commented on #659
This should be a fairly easy issue to pick up for anyone out there looking to make a first contribution. Indeed, it looks like a validation issue in the corresponding `IQueryParameterService` implementation.

[2020-02-12 02:25] maurei commented on #678
I'll be getting back at this with a list of priorities. Obviously, as this is an open-source project these priorities will not be set in stone and your input will be greatly appreciated.

[2020-02-12 10:21] bart-degreed commented on #664
To aid investigation: The limitations of and behavioral differences between System.Text.Json and Newtonsoft.Json are listed [here](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to).

[2020-02-12 10:43] bart-degreed commented on #659
For my use case, it is unfortunate that the query validation logic is implemented apart from the resource-specific service that can or cannot provide nested includes. To overcome that, the `IResourceService` would need to have some mechanism to expose its capabilities.

I haven't tried, but maybe we can add a capabilities property to IFilterService or its base, and then have `IResourceService` ass

[2020-02-12 15:20] bart-degreed commented on #673
Actually I think it's quite easy to implement. See my PR.

[2020-02-12 17:05] bart-degreed commented on #652
The problem here is that these dependencies cross resource-specific services and repositories, so it cannot be solved in a good way at those levels.

Let me illustrate using an example. Consider the next models:

[code]

When getting users, it fails with a `NullReferenceException` in `DisplayName` because the Name navigation property was not loaded. In this case, it must be loaded **unconditionall

[2020-02-12 18:46] #656 closed

[2020-02-12 20:35] #673 closed

[2020-02-13 00:57] bart-degreed commented on #652
Can we reopen this issue (or create a new one) to track the work involved for my proposal?

[2020-02-13 01:33] maurei commented on #652
I will get back at this tomorrow.

[2020-02-13 10:08] ahmadalli commented on #678
I think since asp.net core 2.2 has reached its end of life, releasing a version compatible with asp.net core 3 would be great. I would love if I could help out but unfortunately I don't have time for that

[2020-02-13 17:44] maurei commented on #678
@ahmadalli v4 (which is in prerelease) is currently on v3.0. I'm planning on migrating it to v3.1 before fully releasing it.

[2020-02-13 18:22] bart-degreed commented on #577
One way to deal with this in a generic way could be the next flow:
1. Fetch full resource from server
2. Apply changes (partial field set) from patch request
3. Re-fetch the full resource from server
4. diff between 1 and 3, after converting both to JSON (string-based equality comparison)

[2020-02-13 18:48] maurei commented on #652
I think this could be solved using either:
- EF Core's lazy loading
- ResourceHooks as introduced in v4

#### Lazy loading
One way to approach this could be to configure EF Cores [lazy loading](https://docs.microsoft.com/en-us/ef/core/querying/related-data#lazy-loading) for this relationship. I haven't tried this but it looks like it should work. As soon as the getter of the `Name` property is cal

[2020-02-13 19:07] maurei commented on #577
I've considered that. It would only work if additional changes apart from those that are encoded in the PATCH request are executed directly with the usage of `DbContext` by the dev. This wouldn't work if we were to do a simple update of a property within a custom service layer like this:

[code]

This scenario isn't covered because the repository layer will not be able to distinguish that addition

[2020-02-13 19:21] maurei commented on #666
Feel free to reopen with more information

[2020-02-13 19:21] #666 closed

[2020-02-13 21:29] bart-degreed commented on #652
Both solutions seem to depend on lazy loading, which is something I'm trying to prevent.

If I understand correctly, lazy loading would mean an additional query is executed for each resource property access, right? So getting a list of 100 users would execute 101 queries. That does not sounds appealing to me.

Aside from that, I've been ignoring resource hooks completely because I find them unusab

[2020-02-13 21:30] bart-degreed commented on #652
Do you see any objections in my proposal?

[2020-02-13 23:02] maurei commented on #623
I've been having some thoughts on how to improve the performance of hooks

- I think it makes sense semantically that `After` hooks are fired after query execution (leaving paging out of the equation for simplicity, but **I do think** that we should deal with that better than we do now). So if eg. a user only ever has `AfterRead` hooks implemented in the application, we can be pretty sure there is

[2020-02-13 23:58] maurei commented on #652
Better integration with paging is definitely desired, we need consider that carefully and work on that ([last mentioned here](https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/623#issuecomment-554941268)). Related: I shared some thoughts on [how we could improve hooks performance](https://github.com/json-api-dotnet/JsonApiDotNetCore/issues/623#issuecomment-586015152).

This can be a sing

[2020-02-14 10:33] iamandymcinnes opened #686 "Running JADNC 3.1.0 with netcoreapp3.1"
Hi I'm currently holding off on moving to v4 as there seems to be a fair few moving parts atm, so I've been trying to get v3.1.0 working with netcoreapp3.1. I just wondered if anyone has had any success, I think I'm running in to issues with the the Json formatters as I'm currently getting this error on my tests:

[code]

[2020-02-14 13:47] bart-degreed opened #687 "Bug: custom serializer settings are ignored"
When setting custom serialization settings on `JsonApiOptions`, they are not used. In our scenario we have a few enums exposed as attributes and we want them to serialize into their text representation instead of numeric.

Example:
[code]

Putting `[JsonConverter(typeof(StringEnumConverter))]` on ScreenOrientation works, but the global setting does not.

Using the global setting should work, accor

[2020-02-14 15:28] bart-degreed opened #689 "Review logging"
## Description
Now that we have the right logging dependencies in place, we should review when, what and at which level logging occurs within JADNC.

Official guidance on logging levels: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2#log-level

I'm thinking of:
- Do not log events at **error** level which cannot be solved by us, but are functional errors tha

[2020-02-14 17:45] jeff-becker-projekt202 opened #690 "Allow classes which inherit from DefaultResourceRepository more control of SaveChangesAsync"
## Description
Feature Request: Add methods in DefaultResourceRepository so that derived classes have access to the DBContext and an opportunity to intercept calls to _context.SaveChangesAsync() in CreateAsync, UpdateAsync, UpdateRelationshipsAsync, DeleteAsync.

Use Case: I have a fairly complex order-entry model. Any time any part of the hierarchy is modified I need to load the aggregate root an

[2020-02-14 19:37] jeff-becker-projekt202 commented on #690
A class implementing this might look something like:
[code]

[2020-02-14 20:33] maurei commented on #690
Would it be feasible to use [ResourceHooks](https://github.com/json-api-dotnet/JsonApiDotNetCore/blob/master/docs/usage/resources/hooks.md#4-hook-execution-overview) as will be introduced in v4? In such approach you would put such business logic in a `BeforeUpdate` or `AfterUpdate` hook.

[2020-02-14 20:36] jeff-becker-projekt202 commented on #690
Can I have some time to dig into how those are wired into the database transaction? The overarching goal here is "Dont spread updates of related financial information across multiple transactions"

[2020-02-14 21:20] maurei commented on #690
Of course, there is no rush here.

When you're taling about transactions, are you referring to [SQL transactions as supported by EF Core](https://docs.microsoft.com/en-us/ef/core/saving/transactions#controlling-transactions)? Or do you mean more generally speaking one block of code with a single reference to `DbContext`?